openapi: 3.0.3
info:
  title: CBO API v1
  version: '1.0'
  x-logo:
    url: ../assets/logo.png
    altText: Upd8.gr
  description: |
    CBO (Cloud Business Organiser) is a business management platform designed for Greek-market commercial operations.

    The CBO API provides secure, authenticated access to the core entities of the platform, allowing you to
    programmatically manage organisational data, commercial documents, and operational workflows.

    With the API you can:
    - Integrate external applications to automate business processes and synchronize data.
    - Connect your e-shop to CBO to manage products, orders, customers, and stock centrally.
    - Use CBO as your billing system, fully supporting AADE/MyData requirements and digital document circulation flows where applicable.

    All endpoints are company-scoped and require Bearer authentication.
    Responses follow consistent validation and pagination standards across the platform.


    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token via the login endpoint or from [CBO](https://app.cbo.gr).

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.
servers:
  - url: https://app.cbo.gr/api/v1
    description: CBO production
security:
  - BearerAuth: []
  - XAssebloCompany: []
tags:
  - name: Products Children
  - name: Groups
  - name: Characteristics
  - name: Stocks
  - name: Orders
paths:
  /products-children:
    get:
      tags:
        - Products Children
      summary: List product children
      description: |
        Returns product children. Supports filters by ids, group, characteristics and ordering. Returns Laravel paginated response using `page_size` (default 100).
      security:
        - BearerAuth: []
      parameters:
        - name: fromWebsite
          in: query
          required: false
          description: Filter by visibility on website (showOnWebsite).
          schema:
            type: boolean
            default: true
          example: true
        - name: getGroupHierarchy
          in: query
          required: false
          description: If true, includes group hierarchy info in the resource.
          schema:
            type: boolean
            default: false
          example: false
        - name: ids
          in: query
          required: false
          description: Filter by specific product child IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example:
            - 10
            - 20
            - 30
        - name: group_id
          in: query
          required: false
          description: Filter by group id.
          schema:
            type: integer
            format: int64
          example: 5
        - name: characteristics_id
          in: query
          required: false
          description: Filter products that have ALL of the given characteristic ids.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example:
            - 2
            - 7
        - name: ordering
          in: query
          required: false
          description: Ordering string handled by backend `ordering()` helper.
          schema:
            type: string
          example: retail_price:asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size for Laravel pagination (default 100). `all` is intentionally not documented.
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          example: 100
        - name: stock
          in: query
          required: false
          description: If provided, resource returns partial stock by the given value (backend-defined).
          schema:
            type: string
          example: warehouse:1
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildPaginatedCollection'
              examples:
                paginated:
                  value:
                    data:
                      - id: 10
                        title: Product Child A
                        description: null
                        image:
                          thumb: null
                          normal: null
                        measurment: Τεμάχιο
                        cost: 10
                        sell_price: 15
                        website_price: 15
                        retail_price: 20
                        discounted_price: 0
                        builded_price: 0
                        tax: 24
                        stock: 5
                        barcode: '5200000000000'
                        catalog_code: CAT-01
                        erp_code: ERP-01
                        product_id: 100
                        group_id: 5
                        parent_name: Parent Product
                        company: 1
                        created: '2026-02-11 10:00:00'
                        updated: '2026-02-11 10:00:00'
                        characteristicsHtml: <span>...</span>
                        characteristics: []
                        tiers: []
                        catalogues: []
                    links:
                      first: /api/v1/products-children?page=1
                      last: /api/v1/products-children?page=10
                      prev: null
                      next: /api/v1/products-children?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 10
                      path: /api/v1/products-children
                      per_page: 100
                      to: 100
                      total: 1000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /products-children/{id}:
    get:
      tags:
        - Products Children
      summary: Show product child
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - name: stock
          in: query
          required: false
          description: If provided, resource returns partial stock by the given value (backend-defined).
          schema:
            type: string
          example: warehouse:1
        - name: getGroupHierarchy
          in: query
          required: false
          description: If true, includes group hierarchy info in the resource.
          schema:
            type: boolean
            default: false
          example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChild'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /groups:
    get:
      tags:
        - Groups
      summary: List groups (categories)
      description: |
        Returns groups with optional filtering, tree relations, products, prices, stock flags and characteristics. If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: ids
          in: query
          required: false
          description: Filter by specific group IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example:
            - 1
            - 2
            - 3
        - name: temp_id
          in: query
          required: false
          description: Filter by temporary_id list.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
          example:
            - 101
            - 102
        - name: parent
          in: query
          required: false
          description: Filter by parent group id (group_id).
          schema:
            type: integer
            format: int64
          example: 10
        - name: search
          in: query
          required: false
          description: Search by group name (LIKE %...%).
          schema:
            type: string
          example: laptops
        - name: platform
          in: query
          required: false
          description: Filter groups that have products visible in the selected platform.
          schema:
            type: string
            enum:
              - web
              - b2b
          example: web
        - name: withProducts
          in: query
          required: false
          description: Load `products` relation filtered by platform.
          schema:
            type: boolean
          example: true
        - name: withAllProducts
          in: query
          required: false
          description: Load products of group + descendants (recursiveProducts).
          schema:
            type: boolean
          example: false
        - name: withProductEagers
          in: query
          required: false
          description: If false, products eager loads are cleared (setEagerLoads([])).
          schema:
            type: boolean
            default: true
          example: true
        - name: withProductColumns
          in: query
          required: false
          description: Comma-separated columns to select on product children (id, group_id, company_id are always added).
          schema:
            type: string
          example: id,product_name,barcode,retail_price
        - name: withMinPrice
          in: query
          required: false
          description: Adds `retail_price` (min retail_price in products for this group).
          schema:
            type: boolean
          example: true
        - name: withMinDiscounted
          in: query
          required: false
          description: Adds `discounted_price` (min discounted_price in products where discounted_price != 0).
          schema:
            type: boolean
          example: false
        - name: withMinWebPrice
          in: query
          required: false
          description: Adds `website_price` (min website_price in products where website_price != 0).
          schema:
            type: boolean
          example: false
        - name: withTotalStock
          in: query
          required: false
          description: Adds `has_stocks` flag for group (and for children in show endpoint).
          schema:
            type: boolean
          example: false
        - name: withHasProducts
          in: query
          required: false
          description: Adds `hasProducts` boolean (exists products for platform).
          schema:
            type: boolean
          example: true
        - name: withHasChildren
          in: query
          required: false
          description: Adds `hasChildren` boolean (exists group children, optionally platform-aware).
          schema:
            type: boolean
          example: true
        - name: withOrder
          in: query
          required: false
          description: Order by column (default deep then sort).
          schema:
            type: string
            enum:
              - id
              - name
              - deep
              - sort
              - created_at
              - updated_at
          example: sort
        - name: onlyRoots
          in: query
          required: false
          description: Return only root groups.
          schema:
            type: boolean
          example: false
        - name: onlyLeaves
          in: query
          required: false
          description: Return only leaf groups.
          schema:
            type: boolean
          example: false
        - name: withParent
          in: query
          required: false
          description: Include immediate parent object.
          schema:
            type: boolean
          example: true
        - name: withChildren
          in: query
          required: false
          description: Include immediate children (`children`).
          schema:
            type: boolean
          example: true
        - name: withAncestors
          in: query
          required: false
          description: Include parent chain up to root (uses group_parent + group_ancestors).
          schema:
            type: boolean
          example: false
        - name: withDescendants
          in: query
          required: false
          description: Include descendants (custom descendants() scope/loader).
          schema:
            type: boolean
          example: false
        - name: deep
          in: query
          required: false
          description: Filter by depth.
          schema:
            type: integer
          example: 2
        - name: page_size
          in: query
          required: false
          description: If provided, response becomes Laravel paginated with that per-page size.
          schema:
            type: integer
            minimum: 1
            maximum: 500
          example: 50
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GroupCollection'
                  - $ref: '#/components/schemas/GroupPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated
                  value:
                    data:
                      - id: 1
                        title: Group A
                        slug: group-a
                        description: null
                        deep: 0
                        images: ''
                        parent_id: null
                        temp_id: null
                        company: 1
                        created: '2026-02-11 10:00:00'
                        updated: '2026-02-11 10:00:00'
                        child: []
                paginated:
                  summary: Paginated (page_size)
                  value:
                    data:
                      - id: 1
                        title: Group A
                        slug: group-a
                        description: null
                        deep: 0
                        images: ''
                        parent_id: null
                        temp_id: null
                        company: 1
                        created: '2026-02-11 10:00:00'
                        updated: '2026-02-11 10:00:00'
                        child: []
                    links:
                      first: /api/v1/groups?page=1
                      last: /api/v1/groups?page=10
                      prev: null
                      next: /api/v1/groups?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 10
                      path: /api/v1/groups
                      per_page: 50
                      to: 50
                      total: 500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Show group (category)
      description: |
        Returns a single group. Supports loading products, recursive products, min price fields, stock flags, children existence flags and characteristics grouping.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum:
              - web
              - b2b
          example: web
        - name: withProducts
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withAllProducts
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withProductEagers
          in: query
          required: false
          schema:
            type: boolean
            default: true
          example: true
        - name: withProductColumns
          in: query
          required: false
          schema:
            type: string
          example: id,product_name,barcode,retail_price
        - name: withMinPrice
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withMinDiscounted
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withMinWebPrice
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withTotalStock
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withHasProducts
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withHasChildren
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: showCharacteristics
          in: query
          required: false
          description: If true, returns `characteristics` grouped by category.
          schema:
            type: boolean
            default: true
          example: true
        - name: characteristic_category
          in: query
          required: false
          description: Filter shown characteristics by char_category_id.
          schema:
            type: integer
            format: int64
          example: 2
        - name: withParent
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withChildren
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withAncestors
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withDescendants
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withOrder
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - deep
              - sort
              - created_at
              - updated_at
          example: sort
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
              examples:
                default:
                  value:
                    id: 1
                    title: Group A
                    slug: group-a
                    description: null
                    deep: 0
                    images: ''
                    parent_id: null
                    temp_id: null
                    company: 1
                    created: '2026-02-11 10:00:00'
                    updated: '2026-02-11 10:00:00'
                    child: []
                    retail_price: 100
                    hasProducts: true
                    hasChildren: false
                    products: []
                    characteristics: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send `Authorization: Bearer {token}`'
    XAssebloCompany:
      type: apiKey
      in: header
      name: X-Asseblo-Company
      description: 'Company ID. Example value: 1234567890'
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 1
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
    PerPage:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 15
      example: 15
  schemas:
    PaginationMeta:
      type: object
      additionalProperties: false
      properties:
        first:
          type: string
          nullable: true
          example: /api/v1/clients?page=1
        last:
          type: string
          nullable: true
          example: /api/v1/clients?page=10
        prev:
          type: string
          nullable: true
          example: null
        next:
          type: string
          nullable: true
          example: /api/v1/clients?page=2
      required:
        - first
        - last
        - prev
        - next
    ValidationError:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            name:
              - The name field is required.
      required:
        - message
        - errors
    ErrorResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          example: Unauthorized.
      required:
        - message
    ProductChild:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 10
        title:
          type: string
          example: Product Child A
        description:
          type: string
          nullable: true
          example: null
        image:
          type: object
          additionalProperties: false
          properties:
            thumb:
              type: string
              nullable: true
              example: null
            normal:
              type: string
              nullable: true
              example: null
          required:
            - thumb
            - normal
        measurment:
          type: string
          nullable: true
          example: Τεμάχιο
        cost:
          type: number
          nullable: true
          example: 10
        sell_price:
          type: number
          nullable: true
          example: 15
        website_price:
          type: number
          nullable: true
          example: 15
        retail_price:
          type: number
          nullable: true
          example: 20
        discounted_price:
          type: number
          nullable: true
          example: 0
        builded_price:
          type: number
          nullable: true
          example: 0
        tax:
          description: Tax value (e.g. 24) from related tax.
          type: number
          nullable: true
          example: 24
        stock:
          description: Either full stock (number/object) or partial stock depending on `stock` query param.
          nullable: true
          oneOf:
            - type: number
              example: 5
            - type: object
              additionalProperties: true
        barcode:
          type: string
          nullable: true
          example: '5200000000000'
        catalog_code:
          type: string
          nullable: true
          example: CAT-01
        erp_code:
          type: string
          nullable: true
          example: ERP-01
        product_id:
          type: integer
          format: int64
          nullable: true
          example: 100
        group_id:
          type: integer
          format: int64
          nullable: true
          example: 5
        parent_name:
          type: string
          nullable: true
          example: Parent Product
        company:
          type: integer
          format: int64
          example: 1
        created:
          type: string
          example: '2026-02-11 10:00:00'
        updated:
          type: string
          example: '2026-02-11 10:00:00'
        characteristicsHtml:
          type: string
          nullable: true
          description: HTML string generated by backend.
          example: <span>...</span>
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/Tier'
        catalogues:
          type: array
          items:
            $ref: '#/components/schemas/Catalogue'
        group_hierarchy:
          description: Present only when `getGroupHierarchy=true`.
          nullable: true
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Group'
            - type: object
              additionalProperties: true
      required:
        - id
        - title
        - image
        - company
        - created
        - updated
        - characteristics
        - tiers
        - catalogues
    ProductChildPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductChild'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    Group:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Group A
        slug:
          type: string
          nullable: true
          example: group-a
        description:
          type: string
          nullable: true
          example: Some text
        deep:
          type: integer
          example: 0
        images:
          description: Either "" or object with thumb/normal urls.
          oneOf:
            - type: string
              example: ''
            - type: object
              additionalProperties: false
              properties:
                thumb:
                  type: string
                  example: https://cdn.test/thumb.jpg
                normal:
                  type: string
                  example: https://cdn.test/normal.jpg
              required:
                - thumb
                - normal
        parent_id:
          type: integer
          format: int64
          nullable: true
          example: 10
        temp_id:
          type: integer
          nullable: true
          example: 101
        company:
          type: integer
          format: int64
          example: 1
        created:
          description: Raw created_at (resource uses getRawOriginal).
          type: string
          example: '2026-02-11 10:00:00'
        updated:
          type: string
          example: '2026-02-11 10:00:00'
        retail_price:
          type: number
          nullable: true
          example: 100
        discounted_price:
          type: number
          nullable: true
          example: 90
        website_price:
          type: number
          nullable: true
          example: 95
        has_stocks:
          type: integer
          nullable: true
          example: 1
        hasProducts:
          type: boolean
          nullable: true
          example: true
        hasChildren:
          type: boolean
          nullable: true
          example: false
        parent:
          description: Present when withParent/withAncestors enabled.
          oneOf:
            - $ref: '#/components/schemas/Group'
            - type: integer
              format: int64
              nullable: true
          nullable: true
        child:
          description: Children groups (field always exists but may be empty / missing if not loaded)
          type: array
          items:
            $ref: '#/components/schemas/Group'
        products:
          description: Present when withProducts or withAllProducts.
          type: array
          items:
            $ref: '#/components/schemas/ProductChild'
        characteristics:
          description: Present when showCharacteristics=true. (CharCategoryResource output)
          type: array
          items:
            $ref: '#/components/schemas/CharCategory'
      required:
        - id
        - title
        - deep
        - images
        - parent_id
        - temp_id
        - company
        - created
        - updated
        - child
    GroupResponse:
      allOf:
        - $ref: '#/components/schemas/Group'
    GroupCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Group'
      required:
        - data
    GroupPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    Characteristic:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        key:
          type: string
          example: color
        label:
          type: string
          example: Color
        created_at:
          type: string
          format: date-time
          example: '2026-02-11T08:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-02-11T08:00:00Z'
      required:
        - id
        - key
        - label
        - created_at
        - updated_at
    Tier:
      type: object
      additionalProperties: true
      description: Minimal placeholder for TierResource output.
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Tier 1
    Catalogue:
      type: object
      additionalProperties: true
      description: Minimal placeholder for CatalogueResource output.
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Catalogue A
    CharCategory:
      type: object
      additionalProperties: true
      description: Minimal placeholder for CharCategoryResource output.
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Category A
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
    PaginationLinks:
      type: object
      additionalProperties: false
      properties:
        first:
          type: string
          nullable: true
          example: /api/v1/clients?page=1
        last:
          type: string
          nullable: true
          example: /api/v1/clients?page=10
        prev:
          type: string
          nullable: true
          example: null
        next:
          type: string
          nullable: true
          example: /api/v1/clients?page=2
      required:
        - first
        - last
        - prev
        - next
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Unauthorized.
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded (1000 calls/day or 60 requests/minute)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Too many requests. Rate limit exceeded.
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Forbidden.
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Not Found.
    UnprocessableEntity:
      description: Validation error (Laravel)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
