openapi: 3.0.3
info:
  title: CBO API v1
  version: '1.0'
  x-logo:
    url: ../assets/logo.png
    altText: Upd8.gr
  description: |
    CBO (Cloud Business Organiser) is a business management platform designed for Greek-market commercial operations.

    The CBO API provides secure, authenticated access to the core entities of the platform, allowing you to
    programmatically manage organisational data, commercial documents, and operational workflows.

    With the API you can:
    - Integrate external applications to automate business processes and synchronize data.
    - Connect your e-shop to CBO to manage products, orders, customers, and stock centrally.
    - Use CBO as your billing system, fully supporting AADE/MyData requirements and digital document circulation flows where applicable.

    All endpoints are company-scoped and require Bearer authentication.
    Responses follow consistent validation and pagination standards across the platform.


    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token via the login endpoint or from [CBO](https://app.cbo.gr).

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.
servers:
  - url: https://app.cbo.gr/api/v1
    description: CBO production
security:
  - BearerAuth: []
  - XAssebloCompany: []
tags:
  - name: Products Children
  - name: Groups
  - name: Characteristics
  - name: Stocks
  - name: Orders
  - name: Users
paths:
  /product-children:
    get:
      tags:
        - Products Children
      summary: List product children
      description: |
        Returns product children. Supports filters by ids, group, characteristics and ordering. Returns Laravel paginated response using `page_size` (default 100).
      security:
        - BearerAuth: []
      parameters:
        - name: fromWebsite
          in: query
          required: false
          description: Filter by visibility on website (showOnWebsite).
          schema:
            type: boolean
            default: true
          example: true
        - name: getGroupHierarchy
          in: query
          required: false
          description: If true, includes group hierarchy info in the resource.
          schema:
            type: boolean
            default: false
          example: false
        - name: ids
          in: query
          required: false
          description: Filter by specific product child IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example:
            - 10
            - 20
            - 30
        - name: group_id
          in: query
          required: false
          description: Filter by group id.
          schema:
            type: integer
            format: int64
          example: 5
        - name: characteristics_id
          in: query
          required: false
          description: Filter products that have ALL of the given characteristic ids.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example:
            - 2
            - 7
        - name: ordering
          in: query
          required: false
          description: Ordering string handled by backend `ordering()` helper.
          schema:
            type: string
          example: retail_price:asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size for Laravel pagination (default 100). `all` is intentionally not documented.
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          example: 100
        - name: stock
          in: query
          required: false
          description: If provided, resource returns partial stock by the given value (backend-defined).
          schema:
            type: string
          example: warehouse:1
      responses:
        '200':
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildPaginatedCollection'
              examples:
                paginated:
                  value:
                    data:
                      - id: 10
                        title: Product Child A
                        description: null
                        image:
                          thumb: null
                          normal: null
                        measurment: Τεμάχιο
                        cost: 10
                        sell_price: 15
                        website_price: 15
                        retail_price: 20
                        discounted_price: 0
                        builded_price: 0
                        tax: 24
                        stock: 5
                        barcode: '5200000000000'
                        catalog_code: CAT-01
                        erp_code: ERP-01
                        product_id: 100
                        group_id: 5
                        parent_name: Parent Product
                        company: 1
                        created: '2026-02-11 10:00:00'
                        updated: '2026-02-11 10:00:00'
                        characteristicsHtml: <span>...</span>
                        characteristics: []
                        tiers: []
                        catalogues: []
                    links:
                      first: /api/v1/products-children?page=1
                      last: /api/v1/products-children?page=10
                      prev: null
                      next: /api/v1/products-children?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 10
                      path: /api/v1/products-children
                      per_page: 100
                      to: 100
                      total: 1000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /product-children/{child}:
    get:
      tags:
        - Products Children
      summary: Show product child
      security:
        - BearerAuth: []
      parameters:
        - name: child
          in: path
          required: true
          description: The ID of the product child.
          schema:
            type: integer
            format: int64
          example: 1
        - name: stock
          in: query
          required: false
          description: If provided, resource returns partial stock by the given value (backend-defined).
          schema:
            type: string
          example: warehouse:1
        - name: getGroupHierarchy
          in: query
          required: false
          description: If true, includes group hierarchy info in the resource.
          schema:
            type: boolean
            default: false
          example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/ProductChild'
                required:
                  - data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /groups:
    get:
      tags:
        - Groups
      summary: List groups (categories)
      description: |
        Returns groups with optional filtering, tree relations, products, prices, stock flags and characteristics. If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: ids
          in: query
          required: false
          description: Filter by specific group IDs.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example:
            - 1
            - 2
            - 3
        - name: parent
          in: query
          required: false
          description: Filter by parent group id (group_id).
          schema:
            type: integer
            format: int64
          example: 10
        - name: search
          in: query
          required: false
          description: Search by group name (LIKE %...%).
          schema:
            type: string
          example: laptops
        - name: platform
          in: query
          required: false
          description: Filter groups that have products visible in the selected platform.
          schema:
            type: string
            enum:
              - web
              - b2b
          example: web
        - name: withProducts
          in: query
          required: false
          description: Load `products` relation filtered by platform.
          schema:
            type: boolean
          example: true
        - name: withAllProducts
          in: query
          required: false
          description: Load products of group + descendants (recursiveProducts).
          schema:
            type: boolean
          example: false
        - name: withProductEagers
          in: query
          required: false
          description: If false, products eager loads are cleared (setEagerLoads([])).
          schema:
            type: boolean
            default: true
          example: true
        - name: withProductColumns
          in: query
          required: false
          description: Comma-separated columns to select on product children (id, group_id, company_id are always added).
          schema:
            type: string
          example: id,product_name,barcode,retail_price
        - name: withMinPrice
          in: query
          required: false
          description: Adds `retail_price` (min retail_price in products for this group).
          schema:
            type: boolean
          example: true
        - name: withMinDiscounted
          in: query
          required: false
          description: Adds `discounted_price` (min discounted_price in products where discounted_price != 0).
          schema:
            type: boolean
          example: false
        - name: withMinWebPrice
          in: query
          required: false
          description: Adds `website_price` (min website_price in products where website_price != 0).
          schema:
            type: boolean
          example: false
        - name: withTotalStock
          in: query
          required: false
          description: Adds `has_stocks` flag for group (and for children in show endpoint).
          schema:
            type: boolean
          example: false
        - name: withHasProducts
          in: query
          required: false
          description: Adds `hasProducts` boolean (exists products for platform).
          schema:
            type: boolean
          example: true
        - name: withHasChildren
          in: query
          required: false
          description: Adds `hasChildren` boolean (exists group children, optionally platform-aware).
          schema:
            type: boolean
          example: true
        - name: withOrder
          in: query
          required: false
          description: Order by column (default deep then sort).
          schema:
            type: string
            enum:
              - id
              - name
              - deep
              - sort
              - created_at
              - updated_at
          example: sort
        - name: onlyRoots
          in: query
          required: false
          description: Return only root groups.
          schema:
            type: boolean
          example: false
        - name: onlyLeaves
          in: query
          required: false
          description: Return only leaf groups.
          schema:
            type: boolean
          example: false
        - name: withParent
          in: query
          required: false
          description: Include immediate parent object.
          schema:
            type: boolean
          example: true
        - name: withChildren
          in: query
          required: false
          description: Include immediate children (`children`).
          schema:
            type: boolean
          example: true
        - name: withAncestors
          in: query
          required: false
          description: Include parent chain up to root (uses group_parent + group_ancestors).
          schema:
            type: boolean
          example: false
        - name: withDescendants
          in: query
          required: false
          description: Include descendants (custom descendants() scope/loader).
          schema:
            type: boolean
          example: false
        - name: deep
          in: query
          required: false
          description: Filter by depth.
          schema:
            type: integer
          example: 2
        - name: page_size
          in: query
          required: false
          description: If provided, response becomes Laravel paginated with that per-page size.
          schema:
            type: integer
            minimum: 1
            maximum: 500
          example: 50
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GroupCollection'
                  - $ref: '#/components/schemas/GroupPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated
                  value:
                    data:
                      - id: 1
                        title: Group A
                        slug: group-a
                        description: null
                        deep: 0
                        images: ''
                        parent_id: null
                        temp_id: null
                        company: 1
                        created: '2026-02-11 10:00:00'
                        updated: '2026-02-11 10:00:00'
                        child: []
                paginated:
                  summary: Paginated (page_size)
                  value:
                    data:
                      - id: 1
                        title: Group A
                        slug: group-a
                        description: null
                        deep: 0
                        images: ''
                        parent_id: null
                        temp_id: null
                        company: 1
                        created: '2026-02-11 10:00:00'
                        updated: '2026-02-11 10:00:00'
                        child: []
                    links:
                      first: /api/v1/groups?page=1
                      last: /api/v1/groups?page=10
                      prev: null
                      next: /api/v1/groups?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 10
                      path: /api/v1/groups
                      per_page: 50
                      to: 50
                      total: 500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Show group (category)
      description: |
        Returns a single group. Supports loading products, recursive products, min price fields, stock flags, children existence flags and characteristics grouping.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum:
              - web
              - b2b
          example: web
        - name: withProducts
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withAllProducts
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withProductEagers
          in: query
          required: false
          schema:
            type: boolean
            default: true
          example: true
        - name: withProductColumns
          in: query
          required: false
          schema:
            type: string
          example: id,product_name,barcode,retail_price
        - name: withMinPrice
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withMinDiscounted
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withMinWebPrice
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withTotalStock
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withHasProducts
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withHasChildren
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: showCharacteristics
          in: query
          required: false
          description: If true, returns `characteristics` grouped by category.
          schema:
            type: boolean
            default: true
          example: true
        - name: characteristic_category
          in: query
          required: false
          description: Filter shown characteristics by char_category_id.
          schema:
            type: integer
            format: int64
          example: 2
        - name: withParent
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withChildren
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: withAncestors
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withDescendants
          in: query
          required: false
          schema:
            type: boolean
          example: false
        - name: withOrder
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - deep
              - sort
              - created_at
              - updated_at
          example: sort
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
              examples:
                default:
                  value:
                    data:
                      id: 1
                      title: Group A
                      slug: group-a
                      description: null
                      deep: 0
                      images: ''
                      parent_id: null
                      temp_id: null
                      company: 1
                      created: '2026-02-11 10:00:00'
                      updated: '2026-02-11 10:00:00'
                      child: []
                      retail_price: 100
                      hasProducts: true
                      hasChildren: false
                      products: []
                      characteristics: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /characteristics:
    get:
      tags:
        - Characteristics
      summary: List characteristics
      description: |
        Returns characteristics with optional filtering by category, group, and specific IDs. If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: needle_category
          in: query
          required: false
          description: Filter characteristics by category ID.
          schema:
            type: integer
            format: int64
          example: 3
        - name: group_id
          in: query
          required: false
          description: Filter characteristics linked to a specific group.
          schema:
            type: integer
            format: int64
          example: 5
        - name: characteristic_id
          in: query
          required: false
          description: Filter by a specific characteristic ID.
          schema:
            type: integer
            format: int64
          example: 12
        - name: fromWebsite
          in: query
          required: false
          description: Filter by website visibility.
          schema:
            type: boolean
            default: true
          example: true
        - name: checkStock
          in: query
          required: false
          description: Whether to check stock availability when filtering.
          schema:
            type: boolean
          example: false
        - name: ordering
          in: query
          required: false
          description: |
            Ordering string. Prefix column name with `-` for descending order. Multiple columns separated by comma.
          schema:
            type: string
          example: id,-name
        - name: page_size
          in: query
          required: false
          description: |
            Page size for Laravel pagination. Use an integer for a fixed page size, or `"all"` to return all records unpaginated.
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
                enum:
                  - all
          example: 100
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CharacteristicCollection'
                  - $ref: '#/components/schemas/CharacteristicPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated
                  value:
                    data:
                      - id: 1
                        name: Red
                        category:
                          id: 1
                          name: Color
                          characteristics:
                            - id: 1
                              name: Red
                paginated:
                  summary: Paginated (page_size provided)
                  value:
                    data:
                      - id: 1
                        name: Red
                        category:
                          id: 1
                          name: Color
                          characteristics:
                            - id: 1
                              name: Red
                    links:
                      first: /api/v1/characteristics?page=1
                      last: /api/v1/characteristics?page=5
                      prev: null
                      next: /api/v1/characteristics?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 5
                      path: /api/v1/characteristics
                      per_page: 100
                      to: 100
                      total: 500
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /characteristics/{characteristic}:
    get:
      tags:
        - Characteristics
      summary: Show characteristic
      description: Returns a single characteristic by ID.
      security:
        - BearerAuth: []
      parameters:
        - name: characteristic
          in: path
          required: true
          description: The ID of the characteristic.
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacteristicResponse'
              example:
                data:
                  id: 1
                  name: Red
                  category:
                    id: 1
                    name: Color
                    characteristics:
                      - id: 1
                        name: Red
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /characteristics-categories:
    get:
      tags:
        - Characteristics
      summary: List characteristic categories
      description: |
        Returns characteristic categories (each with its slim-characteristics list). If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: page_size
          in: query
          required: false
          description: |
            Page size for Laravel pagination. Use an integer for a fixed page size, or `"all"` to return all records unpaginated.
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
                enum:
                  - all
          example: 100
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CharacteristicCategoryCollection'
                  - $ref: '#/components/schemas/CharacteristicCategoryPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated
                  value:
                    data:
                      - id: 1
                        name: Color
                        characteristics:
                          - id: 1
                            name: Red
                paginated:
                  summary: Paginated (page_size provided)
                  value:
                    data:
                      - id: 1
                        name: Color
                        characteristics:
                          - id: 1
                            name: Red
                    links:
                      first: /api/v1/characteristics-categories?page=1
                      last: /api/v1/characteristics-categories?page=3
                      prev: null
                      next: /api/v1/characteristics-categories?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 3
                      path: /api/v1/characteristics-categories
                      per_page: 100
                      to: 100
                      total: 300
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /characteristics-categories/{category}:
    get:
      tags:
        - Characteristics
      summary: Show characteristic category
      description: Returns a single characteristic category by ID.
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: path
          required: true
          description: The ID of the characteristic category.
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacteristicCategoryResponse'
              example:
                data:
                  id: 1
                  name: Color
                  characteristics:
                    - id: 1
                      name: Red
                    - id: 2
                      name: Blue
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /stocks:
    get:
      tags:
        - Stocks
      summary: List stocks
      description: |
        Returns warehouse/stock locations. If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: page_size
          in: query
          required: false
          description: |
            Page size for Laravel pagination. Use an integer for a fixed page size, or `"all"` to return all records unpaginated.
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
                enum:
                  - all
          example: 100
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/StockCollection'
                  - $ref: '#/components/schemas/StockPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated
                  value:
                    data:
                      - id: 1
                        name: Αποθήκη Αθήνα
                      - id: 2
                        name: Αποθήκη Θεσσαλονίκη
                paginated:
                  summary: Paginated (page_size provided)
                  value:
                    data:
                      - id: 1
                        name: Αποθήκη Αθήνα
                    links:
                      first: /api/v1/stocks?page=1
                      last: /api/v1/stocks?page=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: /api/v1/stocks
                      per_page: 100
                      to: 2
                      total: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /stocks/{stock}:
    get:
      tags:
        - Stocks
      summary: Show stock
      description: Returns a single stock/warehouse location by ID.
      security:
        - BearerAuth: []
      parameters:
        - name: stock
          in: path
          required: true
          description: The ID of the stock location.
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockResponse'
              example:
                data:
                  id: 1
                  name: Αποθήκη Αθήνα
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders:
    get:
      tags:
        - Orders
      summary: List orders
      description: |
        Returns orders with optional item loading and ordering. If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: withItems
          in: query
          required: false
          description: If true, each order includes its line items.
          schema:
            type: boolean
          example: true
        - name: ordering
          in: query
          required: false
          description: |
            Ordering string. Prefix column name with `-` for descending order. Multiple columns separated by comma.
          schema:
            type: string
          example: id,-created_at
        - name: page_size
          in: query
          required: false
          description: |
            Page size for Laravel pagination. Use an integer for a fixed page size, or `"all"` to return all records unpaginated.
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
                enum:
                  - all
          example: 100
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/OrderCollection'
                  - $ref: '#/components/schemas/OrderPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated
                  value:
                    data:
                      - id: 1
                        serial_number: '#1001'
                        title: Order for Παπαδόπουλος
                        billing_account: null
                        isOffer: false
                        isExternal: true
                        items: []
                        comments: null
                        updated: '2026-04-27 10:00:00'
                        created: '2026-04-27 09:00:00'
                paginated:
                  summary: Paginated (page_size provided)
                  value:
                    data:
                      - id: 1
                        serial_number: '#1001'
                        title: Order for Παπαδόπουλος
                        billing_account: null
                        isOffer: false
                        isExternal: true
                        items: []
                        comments: null
                        updated: '2026-04-27 10:00:00'
                        created: '2026-04-27 09:00:00'
                    links:
                      first: /api/v1/orders?page=1
                      last: /api/v1/orders?page=10
                      prev: null
                      next: /api/v1/orders?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 10
                      path: /api/v1/orders
                      per_page: 100
                      to: 100
                      total: 1000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /orders/{order}:
    get:
      tags:
        - Orders
      summary: Show order
      description: Returns a single order by ID.
      security:
        - BearerAuth: []
      parameters:
        - name: order
          in: path
          required: true
          description: The ID of the order.
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                data:
                  id: 1
                  serial_number: '#1001'
                  title: Order for Παπαδόπουλος
                  billing_account: null
                  isOffer: false
                  isExternal: true
                  items: []
                  comments: null
                  updated: '2026-04-27 10:00:00'
                  created: '2026-04-27 09:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /create/order:
    post:
      tags:
        - Orders
      summary: Create order
      description: |
        Creates a new order from an external source (e.g. e-shop). Finds or creates the client by email, attaches addresses, line items, fee and shipping items.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStore'
            example:
              email: customer@example.com
              first_name: Γιώργος
              last_name: Παπαδόπουλος
              telephone: '2100000000'
              cellphone: '6900000000'
              addresses:
                - address_type: billing
                  address: Σταδίου
                  number: '10'
                  zip: '10562'
                  city: Αθήνα
                  country: GR
                - address_type: shipping
                  address: Σταδίου
                  number: '10'
                  zip: '10562'
                  city: Αθήνα
                  country: GR
              order_items:
                - product_id: SKU-001
                  title: Laptop 15"
                  quantity: 1
                  unit_price: 500
                  total_tax: 120
              shipping_items:
                - title: Shipping
                  price: 5
                  total_tax: 1.2
              isExternal: true
      responses:
        '200':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateResponse'
              example:
                data:
                  id: 101
                  serial_number: '#1001'
                  title: 'E-shop #54321 - Γιώργος Παπαδόπουλος'
                  billing_account:
                    id: 55
                    invoice_name: Γιώργος Παπαδόπουλος
                  isOffer: false
                  isExternal: true
                  comments: ''
                  updated: '2026-04-27 10:00:00'
                  created: '2026-04-27 10:00:00'
        '400':
          description: Bad Request — required field missing (e.g. email)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  error:
                    type: string
                    example: Το email είναι υποχρεωτικό
                required:
                  - error
              example:
                error: Το email είναι υποχρεωτικό
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users:
    get:
      tags:
        - Users
      summary: List users
      description: |
        Returns the users that belong to the authenticated company (matched via the `X-Asseblo-Company` header). If `page_size` is provided, response is Laravel paginated. Otherwise returns a plain resource collection.
      security:
        - BearerAuth: []
      parameters:
        - name: page_size
          in: query
          required: false
          description: |
            Page size for Laravel pagination. Use an integer for a fixed page size, or `"all"` to return all records unpaginated. Defaults to 100 when omitted.
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
                enum:
                  - all
          example: 100
      responses:
        '200':
          description: OK (collection or paginated collection)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UserCollection'
                  - $ref: '#/components/schemas/UserPaginatedCollection'
              examples:
                collection:
                  summary: Non-paginated (page_size=all)
                  value:
                    data:
                      - id: 1
                        name: Γιώργος Παπαδόπουλος
                        email: giorgos@example.com
                        created: '2026-04-27 09:00:00'
                        updated: '2026-04-27 10:00:00'
                      - id: 2
                        name: Μαρία Ιωάννου
                        email: maria@example.com
                        created: '2026-04-27 09:05:00'
                        updated: '2026-04-27 10:05:00'
                paginated:
                  summary: Paginated (default, or numeric page_size)
                  value:
                    data:
                      - id: 1
                        name: Γιώργος Παπαδόπουλος
                        email: giorgos@example.com
                        created: '2026-04-27 09:00:00'
                        updated: '2026-04-27 10:00:00'
                    links:
                      first: /api/v1/users?page=1
                      last: /api/v1/users?page=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: /api/v1/users
                      per_page: 100
                      to: 2
                      total: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /users/{user}:
    get:
      tags:
        - Users
      summary: Show user
      description: |
        Returns a single user by ID. The user must belong to the authenticated company (`X-Asseblo-Company`); otherwise a `404` is returned (unless the requesting account is the super-admin).
      security:
        - BearerAuth: []
      parameters:
        - name: user
          in: path
          required: true
          description: The ID of the user.
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              example:
                data:
                  id: 1
                  name: Γιώργος Παπαδόπουλος
                  email: giorgos@example.com
                  created: '2026-04-27 09:00:00'
                  updated: '2026-04-27 10:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/by-referral/{referral}:
    get:
      tags:
        - Users
      summary: Show user by referral code
      description: |
        Returns the user whose referral code matches the given value. The referral code is a 6-character, zero-padded numeric string derived from the user's ID (`substr(str_pad(abs(crc32(id)), 6, '0', STR_PAD_LEFT), 0, 6)`). Returns `404` when no user matches the code.
      security:
        - BearerAuth: []
      parameters:
        - name: referral
          in: path
          required: true
          description: The 6-character referral code of the user.
          schema:
            type: string
          example: '042315'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              example:
                data:
                  id: 1
                  name: Γιώργος Παπαδόπουλος
                  email: giorgos@example.com
                  created: '2026-04-27 09:00:00'
                  updated: '2026-04-27 10:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send `Authorization: Bearer {token}`'
    XAssebloCompany:
      type: apiKey
      in: header
      name: X-Asseblo-Company
      description: 'Company ID. Example value: 1234567890'
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 1
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
    PerPage:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 15
      example: 15
  schemas:
    PaginationMeta:
      type: object
      additionalProperties: false
      properties:
        first:
          type: string
          nullable: true
          example: /api/v1/clients?page=1
        last:
          type: string
          nullable: true
          example: /api/v1/clients?page=10
        prev:
          type: string
          nullable: true
          example: null
        next:
          type: string
          nullable: true
          example: /api/v1/clients?page=2
      required:
        - first
        - last
        - prev
        - next
    ValidationError:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
          description: Machine-readable error code. Always `validation_error` for this response.
          example: validation_error
        message:
          type: string
          example: Validation failed.
        errors:
          type: object
          description: Map of field name to an array of validation messages.
          additionalProperties:
            type: array
            items:
              type: string
          example:
            name:
              - The name field is required.
      required:
        - status
        - message
        - errors
    ErrorResponse:
      type: object
      description: |
        Generic error envelope. API-generated errors (403/404 from controllers and form requests) include `status` and an empty `errors` array; framework-level responses (401 authentication, 429 rate limit) return only `message`.
      properties:
        status:
          type: string
          description: Machine-readable error code (e.g. `forbidden`, `not_found`). Absent on framework auth/rate-limit responses.
          example: not_found
        message:
          type: string
          example: Resource not found.
        errors:
          type: array
          description: Present (usually empty) on API-generated errors; absent on framework responses.
          items: {}
          example: []
      required:
        - message
    ProductChild:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 10
        title:
          type: string
          example: Product Child A
        description:
          type: string
          nullable: true
          example: null
        image:
          type: object
          additionalProperties: false
          properties:
            thumb:
              type: string
              nullable: true
              example: null
            normal:
              type: string
              nullable: true
              example: null
          required:
            - thumb
            - normal
        measurment:
          type: string
          nullable: true
          example: Τεμάχιο
        cost:
          type: number
          nullable: true
          example: 10
        sell_price:
          type: number
          nullable: true
          example: 15
        website_price:
          type: number
          nullable: true
          example: 15
        retail_price:
          type: number
          nullable: true
          example: 20
        discounted_price:
          type: number
          nullable: true
          example: 0
        builded_price:
          type: number
          nullable: true
          example: 0
        tax:
          description: Tax value (e.g. 24) from related tax.
          type: number
          nullable: true
          example: 24
        stock:
          description: Either full stock (number/object) or partial stock depending on `stock` query param.
          nullable: true
          oneOf:
            - type: number
              example: 5
            - type: object
              additionalProperties: true
        barcode:
          type: string
          nullable: true
          example: '5200000000000'
        catalog_code:
          type: string
          nullable: true
          example: CAT-01
        erp_code:
          type: string
          nullable: true
          example: ERP-01
        product_id:
          type: integer
          format: int64
          nullable: true
          example: 100
        group_id:
          type: integer
          format: int64
          nullable: true
          example: 5
        parent_name:
          type: string
          nullable: true
          example: Parent Product
        company:
          type: integer
          format: int64
          example: 1
        created:
          type: string
          example: '2026-02-11 10:00:00'
        updated:
          type: string
          example: '2026-02-11 10:00:00'
        characteristicsHtml:
          type: string
          nullable: true
          description: HTML string generated by backend.
          example: <span>...</span>
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicResource'
        tiers:
          description: Pricing tiers (TierResource output).
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              min:
                type: integer
                nullable: true
                example: 1
              max:
                type: integer
                nullable: true
                example: 10
              price:
                type: number
                nullable: true
                example: 15.5
              is_fixed:
                type: boolean
                example: false
            required:
              - min
              - max
              - price
              - is_fixed
        catalogues:
          description: Related catalogues (CatalogueResource output; null values are stripped).
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: integer
                format: int64
                example: 1
              name:
                type: string
                example: Catalogue A
              rate:
                type: number
                nullable: true
                example: 1.2
              priority:
                type: integer
                nullable: true
                example: 1
              type:
                type: string
                nullable: true
                example: retail
              active:
                type: boolean
                example: true
        group_hierarchy:
          description: |
            Present only when `getGroupHierarchy=true`. A slash-separated string of the group ancestor names ending with the group name (e.g. "Cat / Sub / Product"), or an empty string when the product has no group.
          type: string
          example: Category / Subcategory
      required:
        - id
        - title
        - image
        - company
        - created
        - updated
        - characteristics
        - tiers
        - catalogues
    ProductChildPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductChild'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    Group:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Group A
        slug:
          type: string
          nullable: true
          example: group-a
        description:
          type: string
          nullable: true
          example: Some text
        deep:
          type: integer
          example: 0
        images:
          description: Either "" or object with thumb/normal urls.
          oneOf:
            - type: string
              example: ''
            - type: object
              additionalProperties: false
              properties:
                thumb:
                  type: string
                  example: https://cdn.test/thumb.jpg
                normal:
                  type: string
                  example: https://cdn.test/normal.jpg
              required:
                - thumb
                - normal
        parent_id:
          type: integer
          format: int64
          nullable: true
          example: 10
        temp_id:
          type: integer
          nullable: true
          example: 101
        company:
          type: integer
          format: int64
          example: 1
        created:
          description: Raw created_at (resource uses getRawOriginal).
          type: string
          example: '2026-02-11 10:00:00'
        updated:
          type: string
          example: '2026-02-11 10:00:00'
        retail_price:
          type: number
          nullable: true
          example: 100
        discounted_price:
          type: number
          nullable: true
          example: 90
        website_price:
          type: number
          nullable: true
          example: 95
        has_stocks:
          type: integer
          nullable: true
          example: 1
        hasProducts:
          type: boolean
          nullable: true
          example: true
        hasChildren:
          type: boolean
          nullable: true
          example: false
        parent:
          description: Present when withParent/withAncestors enabled.
          oneOf:
            - $ref: '#/components/schemas/Group'
            - type: integer
              format: int64
              nullable: true
          nullable: true
        child:
          description: Children groups (field always exists but may be empty / missing if not loaded)
          type: array
          items:
            $ref: '#/components/schemas/Group'
        products:
          description: Present when withProducts or withAllProducts.
          type: array
          items:
            $ref: '#/components/schemas/ProductChild'
        characteristics:
          description: Present when showCharacteristics=true. (CharCategoryResource output)
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicCategoryResource'
      required:
        - id
        - title
        - deep
        - images
        - parent_id
        - temp_id
        - company
        - created
        - updated
        - child
    GroupResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/Group'
      required:
        - data
    GroupCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Group'
      required:
        - data
    GroupPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    CharacteristicSlim:
      type: object
      description: Slim representation of a Characteristic (no category, avoids recursion).
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Red
      required:
        - id
        - name
    CharacteristicCategoryResource:
      type: object
      description: A characteristic category with its slim-characteristics list.
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Color
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicSlim'
      required:
        - id
        - name
        - characteristics
    CharacteristicResource:
      type: object
      description: Full representation of a Characteristic including its nullable category.
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Red
        category:
          nullable: true
          oneOf:
            - $ref: '#/components/schemas/CharacteristicCategoryResource'
      required:
        - id
        - name
    CharacteristicCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicResource'
      required:
        - data
    CharacteristicPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicResource'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    CharacteristicResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/CharacteristicResource'
      required:
        - data
    CharacteristicCategoryCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicCategoryResource'
      required:
        - data
    CharacteristicCategoryPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicCategoryResource'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    CharacteristicCategoryResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/CharacteristicCategoryResource'
      required:
        - data
    Stock:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Αποθήκη Αθήνα
      required:
        - id
        - name
    StockCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Stock'
      required:
        - data
    StockPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Stock'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    StockResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/Stock'
      required:
        - data
    AddressInput:
      type: object
      description: Address input for a client (billing, shipping, or other).
      additionalProperties: false
      properties:
        address_type:
          type: string
          enum:
            - billing
            - shipping
            - other
          example: billing
        address:
          type: string
          example: Σταδίου
        number:
          type: string
          nullable: true
          example: '10'
        branch_code:
          type: string
          nullable: true
          example: null
        zip:
          type: string
          example: '10562'
        city:
          type: string
          example: Αθήνα
        region:
          type: string
          nullable: true
          example: Αττική
        country:
          type: string
          example: GR
      required:
        - address_type
        - address
        - zip
        - city
        - country
    OrderItemInput:
      type: object
      description: A product line item for an order.
      additionalProperties: false
      properties:
        product_id:
          type: string
          example: SKU-001
        title:
          type: string
          example: Laptop 15"
        quantity:
          type: number
          example: 2
        unit_price:
          type: number
          example: 500
        total_tax:
          type: number
          nullable: true
          example: 240
        comments:
          type: string
          nullable: true
          example: null
        discount_percentage:
          type: number
          nullable: true
          example: 10
        discount_percentage2:
          type: number
          nullable: true
          example: null
      required:
        - product_id
        - title
        - quantity
        - unit_price
    FeeItemInput:
      type: object
      description: A fee or shipping line item for an order.
      additionalProperties: false
      properties:
        title:
          type: string
          example: Shipping
        price:
          type: number
          example: 5
        total_tax:
          type: number
          nullable: true
          example: 1.2
        discount_percentage:
          type: number
          nullable: true
          example: null
      required:
        - title
        - price
    Order:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        serial_number:
          type: string
          example: '#1001'
        title:
          type: string
          example: Order for Papadopoulos
        billing_account:
          type: object
          nullable: true
          additionalProperties: true
          description: Client billing account object, if attached.
          example: null
        isOffer:
          type: boolean
          example: false
        isExternal:
          type: boolean
          example: true
        items:
          type: array
          description: |
            Order line items. Only present when items are loaded — always for `GET /orders/{order}`, and for `GET /orders` only when `withItems=true`.
          items:
            type: object
            additionalProperties: true
            properties:
              group:
                type: integer
                example: 12
              title:
                type: string
                nullable: true
                example: Laptop 15"
              description:
                type: string
                nullable: true
                example: null
              quantity:
                type: number
                example: 1
              measurment_unit:
                nullable: true
                example: Τεμάχιο
              unit_price:
                type: number
                example: 500
              discount_rate:
                type: number
                example: 0
              net_value:
                type: number
                example: 500
        comments:
          type: string
          nullable: true
          example: null
        updated:
          type: string
          example: '2026-04-27 10:00:00'
        created:
          type: string
          example: '2026-04-27 09:00:00'
      required:
        - id
        - serial_number
        - title
        - billing_account
        - isOffer
        - isExternal
        - comments
        - updated
        - created
    OrderCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
      required:
        - data
    OrderPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    OrderResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/Order'
      required:
        - data
    OrderStore:
      type: object
      description: Request body for creating an order (POST /create/order).
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
          example: customer@example.com
        first_name:
          type: string
          example: Γιώργος
        last_name:
          type: string
          example: Παπαδόπουλος
        addresses:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/AddressInput'
        order_items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderItemInput'
        vat:
          type: string
          example: '123456789'
        invoice_name:
          type: string
          example: ACME ΜΟΝΟΠΡΟΣΩΠΗ ΙΚΕ
        company_name:
          type: string
          example: ACME
        tax_office:
          type: string
          example: Α Αθηνών
        profession:
          type: string
          example: Έμπορος
        telephone:
          type: string
          example: '2100000000'
        cellphone:
          type: string
          example: '6900000000'
        website_domain:
          type: string
          example: acme.gr
        order_id:
          type: integer
          description: External order ID from e-shop.
          example: 54321
        isOffer:
          type: boolean
          example: false
        isExternal:
          type: boolean
          example: true
        comments:
          type: string
          example: Please deliver after 14:00.
        fee_items:
          type: array
          items:
            $ref: '#/components/schemas/FeeItemInput'
        shipping_items:
          type: array
          items:
            $ref: '#/components/schemas/FeeItemInput'
      required:
        - email
        - first_name
        - last_name
        - addresses
        - order_items
    OrderCreateResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/Order'
      required:
        - data
    User:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Γιώργος Παπαδόπουλος
        email:
          type: string
          format: email
          example: user@example.com
        created:
          type: string
          nullable: true
          description: Raw `created_at` value from the database.
          example: '2026-04-27 09:00:00'
        updated:
          type: string
          nullable: true
          description: Raw `updated_at` value from the database.
          example: '2026-04-27 10:00:00'
      required:
        - id
        - name
        - email
        - created
        - updated
    UserResponse:
      type: object
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/User'
      required:
        - data
    UserCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
      required:
        - data
    UserPaginatedCollection:
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - links
        - meta
    PaginationLinks:
      type: object
      additionalProperties: false
      properties:
        first:
          type: string
          nullable: true
          example: /api/v1/clients?page=1
        last:
          type: string
          nullable: true
          example: /api/v1/clients?page=10
        prev:
          type: string
          nullable: true
          example: null
        next:
          type: string
          nullable: true
          example: /api/v1/clients?page=2
      required:
        - first
        - last
        - prev
        - next
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Unauthenticated.
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded (1000 calls/day or 60 requests/minute)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Too many requests. Rate limit exceeded.
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Forbidden.
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Not Found.
    UnprocessableEntity:
      description: Validation error (Laravel)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
