openapi: 3.0.3
info:
  title: CBO API v1.1
  version: "1.1"
  x-logo:
    url: ../assets/logo.png
    altText: Upd8.gr
  description: |
    CBO (Cloud Business Organiser) is a business management platform designed for Greek-market commercial operations.

    The CBO API provides secure, authenticated access to the core entities of the platform, allowing you to
    programmatically manage organisational data, commercial documents, and operational workflows.

    With the API you can:
    - Integrate external applications to automate business processes and synchronize data.
    - Connect your e-shop to CBO to manage products, orders, customers, and stock centrally.
    - Use CBO as your billing system, fully supporting AADE/MyData requirements and digital document circulation flows where applicable.

    All endpoints are company-scoped and require Bearer authentication.
    Responses follow consistent validation and pagination standards across the platform.

    ---

    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token from your Profile page through the app [CBO](https://app.cbo.gr). 

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.

servers:
  - url: https://app.cbo.gr/api/v1.1
    description: CBO production
  - url: https://app.excelon.gr/api/v1.1
    description: CBO staging environment

security:
  - BearerAuth: []
  - XAssebloCompany: []

tags:
  - name: Invoices
  - name: Clients
  - name: Suppliers
  - name: Taxes
  - name: Invoice Types
  - name: Invoice Series
  - name: Expense Categories

paths:
  /invoices:
    $ref: ./paths/invoices/index.yaml
  /invoices/{id}:
    $ref: ./paths/invoices/show.yaml
  /invoices/{id}/email:
    $ref: ./paths/invoices/email.yaml
  /clients:
    $ref: ./paths/clients/index.yaml
  /clients/{id}:
    $ref: ./paths/clients/show.yaml
  /suppliers:
    $ref: ./paths/suppliers/index.yaml
  /suppliers/{id}:
    $ref: ./paths/suppliers/show.yaml
  /invoice-series:
    $ref: ./paths/invoice-series/index.yaml
  /invoice-series/{id}:
    $ref: ./paths/invoice-series/show.yaml
  /invoice-types:
    $ref: ./paths/invoice-types/index.yaml
  /invoice-types/{id}:
    $ref: ./paths/invoice-types/show.yaml
  /taxes:
    $ref: ./paths/taxes/index.yaml
  /taxes/{id}:
    $ref: ./paths/taxes/show.yaml
  /expense-categories:
    $ref: ./paths/expense-categories/index.yaml
  /expense-categories/{id}:
    $ref: ./paths/expense-categories/show.yaml

components:
  securitySchemes:
    BearerAuth:
      $ref: ../_shared/components/securitySchemas/BearerAuth.yaml
    XAssebloCompany:
      $ref: ../_shared/components/securitySchemas/XAssebloCompany.yaml

  parameters:
    IdPath:
      $ref: ../_shared/components/parameters/IdPath.yaml

  responses:
    Unauthorized:
      $ref: ../_shared/components/responses/Unauthorized.yaml
    Forbidden:
      $ref: ../_shared/components/responses/Forbidden.yaml
    NotFound:
      $ref: ../_shared/components/responses/NotFound.yaml
    UnprocessableEntity:
      $ref: ../_shared/components/responses/UnprocessableEntity.yaml
