openapi: 3.0.3
info:
  title: CBO API v1
  version: "1.0"
  x-logo:
    url: ../assets/logo.png
    altText: Upd8.gr
  description: |
    CBO (Cloud Business Organiser) is a business management platform designed for Greek-market commercial operations.

    The CBO API provides secure, authenticated access to the core entities of the platform, allowing you to
    programmatically manage organisational data, commercial documents, and operational workflows.

    With the API you can:
    - Integrate external applications to automate business processes and synchronize data.
    - Connect your e-shop to CBO to manage products, orders, customers, and stock centrally.
    - Use CBO as your billing system, fully supporting AADE/MyData requirements and digital document circulation flows where applicable.

    All endpoints are company-scoped and require Bearer authentication.
    Responses follow consistent validation and pagination standards across the platform.


    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token via the login endpoint or from [CBO](https://app.cbo.gr).

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.

servers:
  - url: https://app.cbo.gr/api/v1
    description: CBO production

security:
  - BearerAuth: []
  - XAssebloCompany: []

tags:
  - name: Products Children
  - name: Groups
  - name: Characteristics
  - name: Stocks
  - name: Orders

paths:
  /products-children:
    $ref: ./paths/products-children/index.yaml
  /products-children/{id}:
    $ref: ./paths/products-children/show.yaml
  /groups:
    $ref: ./paths/groups/index.yaml
  /groups/{id}:
    $ref: ./paths/groups/show.yaml
  /characteristics:
    $ref: ./paths/characteristics/index.yaml
  /characteristics/{characteristic}:
    $ref: ./paths/characteristics/show.yaml
  /characteristics-categories:
    $ref: ./paths/characteristics-categories/index.yaml
  /characteristics-categories/{category}:
    $ref: ./paths/characteristics-categories/show.yaml
  /stocks:
    $ref: ./paths/stocks/index.yaml
  /stocks/{stock}:
    $ref: ./paths/stocks/show.yaml
  /orders:
    $ref: ./paths/orders/index.yaml
  /orders/{order}:
    $ref: ./paths/orders/show.yaml
  /create/order:
    $ref: ./paths/orders/create.yaml

components:
  securitySchemes:
    BearerAuth:
      $ref: ../_shared/components/securitySchemas/BearerAuth.yaml
    XAssebloCompany:
      $ref: ../_shared/components/securitySchemas/XAssebloCompany.yaml

  parameters:
    IdPath:
      $ref: ../_shared/components/parameters/IdPath.yaml
    Page:
      $ref: ../_shared/components/parameters/Page.yaml
    PerPage:
      $ref: ../_shared/components/parameters/PerPage.yaml

  schemas:
    # common
    # PaginationLinks:
    #   $ref: ../_shared/components/schemas/common/PaginationLinks.yaml
    PaginationMeta:
      $ref: ../_shared/components/schemas/common/PaginationMeta.yaml
    ValidationError:
      $ref: ../_shared/components/schemas/errors/ValidationError.yaml
    ErrorResponse:
      $ref: ../_shared/components/schemas/errors/ErrorResponse.yaml

    # resources
    ProductChild:
      $ref: ./components/schemas/products-children/ProductChild.yaml
    ProductChildPaginatedCollection:
      $ref: ./components/schemas/products-children/ProductChildPaginatedCollection.yaml
    Group:
      $ref: ./components/schemas/groups/Group.yaml
    GroupResponse:
      $ref: ./components/schemas/groups/GroupResponse.yaml
    GroupCollection:
      $ref: ./components/schemas/groups/GroupCollection.yaml
    GroupPaginatedCollection:
      $ref: ./components/schemas/groups/GroupPaginatedCollection.yaml

    # characteristics
    CharacteristicSlim:
      $ref: ./components/schemas/characteristics/CharacteristicSlim.yaml
    CharacteristicCategoryResource:
      $ref: ./components/schemas/characteristics/CharacteristicCategoryResource.yaml
    CharacteristicResource:
      $ref: ./components/schemas/characteristics/CharacteristicResource.yaml
    CharacteristicCollection:
      $ref: ./components/schemas/characteristics/CharacteristicCollection.yaml
    CharacteristicPaginatedCollection:
      $ref: ./components/schemas/characteristics/CharacteristicPaginatedCollection.yaml
    CharacteristicResponse:
      $ref: ./components/schemas/characteristics/CharacteristicResponse.yaml
    CharacteristicCategoryCollection:
      $ref: ./components/schemas/characteristics/CharacteristicCategoryCollection.yaml
    CharacteristicCategoryPaginatedCollection:
      $ref: ./components/schemas/characteristics/CharacteristicCategoryPaginatedCollection.yaml
    CharacteristicCategoryResponse:
      $ref: ./components/schemas/characteristics/CharacteristicCategoryResponse.yaml

    # stocks
    Stock:
      $ref: ./components/schemas/stocks/Stock.yaml
    StockCollection:
      $ref: ./components/schemas/stocks/StockCollection.yaml
    StockPaginatedCollection:
      $ref: ./components/schemas/stocks/StockPaginatedCollection.yaml
    StockResponse:
      $ref: ./components/schemas/stocks/StockResponse.yaml

    # orders
    AddressInput:
      $ref: ./components/schemas/orders/AddressInput.yaml
    OrderItemInput:
      $ref: ./components/schemas/orders/OrderItemInput.yaml
    FeeItemInput:
      $ref: ./components/schemas/orders/FeeItemInput.yaml
    Order:
      $ref: ./components/schemas/orders/Order.yaml
    OrderCollection:
      $ref: ./components/schemas/orders/OrderCollection.yaml
    OrderPaginatedCollection:
      $ref: ./components/schemas/orders/OrderPaginatedCollection.yaml
    OrderResponse:
      $ref: ./components/schemas/orders/OrderResponse.yaml
    OrderStore:
      $ref: ./components/schemas/orders/OrderStore.yaml
    OrderCreateResponse:
      $ref: ./components/schemas/orders/OrderCreateResponse.yaml

  responses:
    Unauthorized:
      $ref: ../_shared/components/responses/Unauthorized.yaml
    TooManyRequests:
      $ref: ../_shared/components/responses/TooManyRequests.yaml
    Forbidden:
      $ref: ../_shared/components/responses/Forbidden.yaml
    NotFound:
      $ref: ../_shared/components/responses/NotFound.yaml
    UnprocessableEntity:
      $ref: ../_shared/components/responses/UnprocessableEntity.yaml