openapi: 3.0.3
info:
  title: API v1
  version: "1.0.0"
servers:
  - url: /api/v1

security:
  - BearerAuth: []

tags:
  - name: Products Children
  - name: Groups
  - name: Characteristics
  - name: Stocks
  - name: Orders
  - name: Invoices
  - name: Clients
  - name: Taxes
  - name: Document Types

paths:
  /products-children:
    $ref: ./paths/products-children/index.yaml
  /products-children/{id}:
    $ref: ./paths/products-children/show.yaml
  /groups:
    $ref: ./paths/groups/index.yaml
  /groups/{id}:
    $ref: ./paths/groups/show.yaml