openapi: 3.0.3
info:
  title: API v1
  version: "1.0.0"
  description: |
    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token via the login endpoint or from [CBO](https://app.cbo.gr).

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.

servers:
  - url: https://app.cbo.gr/api/v1
    description: CBO production

security:
  - BearerAuth: []
  - XAssebloCompany: []

tags:
  - name: Products Children
  - name: Groups
  - name: Characteristics
  - name: Stocks
  - name: Orders
  - name: Invoices
  - name: Clients
  - name: Taxes
  - name: Document Types

paths:
  /products-children:
    $ref: ./paths/products-children/index.yaml
  /products-children/{id}:
    $ref: ./paths/products-children/show.yaml
  /groups:
    $ref: ./paths/groups/index.yaml
  /groups/{id}:
    $ref: ./paths/groups/show.yaml

components:
  securitySchemes:
    BearerAuth:
      $ref: ./components/securitySchemes/BearerAuth.yaml
    XAssebloCompany:
      $ref: ./components/securitySchemes/XAssebloCompany.yaml

  parameters:
    IdPath:
      $ref: ./components/parameters/IdPath.yaml
    Page:
      $ref: ./components/parameters/Page.yaml
    PerPage:
      $ref: ./components/parameters/PerPage.yaml

  schemas:
    # common
    PaginationLinks:
      $ref: ./components/schemas/common/PaginationLinks.yaml
    PaginationMeta:
      $ref: ./components/schemas/common/PaginationMeta.yaml
    ValidationError:
      $ref: ./components/schemas/errors/ValidationError.yaml
    ErrorResponse:
      $ref: ./components/schemas/errors/ErrorResponse.yaml

    # resources
    ProductChild:
      $ref: ./components/schemas/products-children/ProductChild.yaml
    ProductChildPaginatedCollection:
      $ref: ./components/schemas/products-children/ProductChildPaginatedCollection.yaml
    Group:
      $ref: ./components/schemas/groups/Group.yaml
    GroupResponse:
      $ref: ./components/schemas/groups/GroupResponse.yaml
    GroupCollection:
      $ref: ./components/schemas/groups/GroupCollection.yaml
    GroupPaginatedCollection:
      $ref: ./components/schemas/groups/GroupPaginatedCollection.yaml

  responses:
    Unauthorized:
      $ref: ./components/responses/Unauthorized.yaml
    TooManyRequests:
      $ref: ./components/responses/TooManyRequests.yaml
    Forbidden:
      $ref: ./components/responses/Forbidden.yaml
    NotFound:
      $ref: ./components/responses/NotFound.yaml
    UnprocessableEntity:
      $ref: ./components/responses/UnprocessableEntity.yaml