openapi: 3.0.3
info:
  title: CBO API v1.1
  version: '1.1'
  x-logo:
    url: ../assets/logo.png
    altText: Upd8.gr
  description: |
    CBO (Cloud Business Organiser) is a business management platform designed for Greek-market commercial operations.

    The CBO API provides secure, authenticated access to the core entities of the platform, allowing you to
    programmatically manage organisational data, commercial documents, and operational workflows.

    With the API you can:
    - Integrate external applications to automate business processes and synchronize data.
    - Connect your e-shop to CBO to manage products, orders, customers, and stock centrally.
    - Use CBO as your billing system, fully supporting AADE/MyData requirements and digital document circulation flows where applicable.

    All endpoints are company-scoped and require Bearer authentication.
    Responses follow consistent validation and pagination standards across the platform.

    ---

    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token from your Profile page through the app [CBO](https://app.cbo.gr). 

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.
servers:
  - url: https://app.cbo.gr/api/v1.1
    description: CBO production
  - url: https://app.excelon.gr/api/v1.1
    description: CBO staging environment
security:
  - BearerAuth: []
  - XAssebloCompany: []
tags:
  - name: Invoices
  - name: Clients
  - name: Suppliers
  - name: Taxes
  - name: Invoice Types
  - name: Invoice Series
  - name: Product Children
  - name: Measurement Units
  - name: Expense Categories
  - name: Tax Offices
  - name: Payment Links
  - name: Countries
paths:
  /invoices:
    get:
      tags:
        - Invoices
      summary: Invoices (list)
      description: |
        Lists invoices with optional search and filtering.
        Response is paginated and wrapped as {success,data,meta}.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          example: INV-2026
        - name: search_fields
          in: query
          required: false
          description: Comma-separated searchable fields.
          schema:
            type: string
          example: serial_number,nickname
        - name: serial_number
          in: query
          required: false
          schema:
            type: integer
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: status
          in: query
          required: false
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: document_type
          in: query
          required: false
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: client_id
          in: query
          required: false
          schema:
            type: integer
        - name: invoice_type_id
          in: query
          required: false
          description: invoice_type_id
          schema:
            type: integer
        - name: invoice_series_id
          in: query
          required: false
          schema:
            type: integer
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - payment_date
              - serial_number
              - status
              - created_at
          example: payment_date
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: desc
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Invoices
      summary: Invoice (create)
      description: |
        Creates a new invoice.
        Response is wrapped as {success,data}.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /invoices/{id}:
    get:
      tags:
        - Invoices
      summary: Invoice (show)
      description: |
        Shows an invoice by its ID.
        Response is wrapped as {success,data}.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/publish:
    post:
      tags:
        - Invoices
      summary: Publish draft invoice
      description: |
        Publishes a draft client invoice (`POST /api/v1.1/invoices/{id}/publish`).
        Loads the invoice with items, taxes, client, type, series, dispatch and payment methods, then runs the publish service.

        - If status is already `Executed` and `mydata_submit` is **false**, returns **422** with "Invoice is already published."
        - On validation or business errors after commit checks, may return **422** with the first alert message.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePublishRequest'
            examples:
              default:
                value:
                  instant_receipt: true
                  mydata_submit: false
      responses:
        '200':
          description: Published — returns updated invoice resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation error, already published, or publish blocked by business rules
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/common/FailureMessageResponse.yaml
              examples:
                alreadyPublished:
                  value:
                    success: false
                    message: Invoice is already published.
                alertError:
                  value:
                    success: false
                    message: First error message from alerts.
        '500':
          description: Server error (unexpected failure during transaction)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
  /invoices/{id}/email:
    post:
      tags:
        - Invoices
      summary: Send email invoice
      description: |
        Sends the invoice (or offer, if document_type=estimate-offer) to the given email. Optionally stores the email in client's contact details.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceEmailRequest'
            examples:
              default:
                value:
                  to: client@example.com
                  store_email: true
      responses:
        '200':
          description: Email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceEmailResponse'
              examples:
                success:
                  value:
                    success: true
                    message: Email sent successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /product-children:
    get:
      tags:
        - Product Children
      summary: Product children (list)
      description: |
        Lists product children for the company from `X-Asseblo-Company`. Supports search on
        `product_name`, `catalog_code`, `barcode`, `erp_code`; optional filters `group_id` and `visibility`;
        sorting and pagination (`page_size` default 50, max 100). If `stock` is provided, each returned
        item exposes partial stock output instead of the default full stock output.
        Response: `{ success, data[], meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search across product name, catalog code, barcode, ERP code.
        - name: group_id
          in: query
          required: false
          schema:
            type: integer
        - name: visibility
          in: query
          required: false
          description: Filter by visibility flag (0/1).
          schema:
            type: boolean
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - product_name
              - catalog_code
              - primary_id
              - sell_price
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: stock
          in: query
          required: false
          description: Backend-defined stock selector used to return partial stock values per item.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Product Children
      summary: Product child (create)
      description: |
        Creates a product child for the company. On validation/runtime errors from the store service,
        returns **422**. Validation errors use the framework validation payload; business/runtime errors from
        the store service return `{ success: false, message }`. On unexpected failure, **500** with message.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChildStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation or business error from store service
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/common/FailureMessageResponse.yaml
        '500':
          description: Unexpected error while creating product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                server:
                  value:
                    success: false
                    message: 'Failed to create product: ...'
  /product-children/{id}:
    get:
      tags:
        - Product Children
      summary: Product child (show)
      description: Returns one product child for the company or 404 if not found / out of scope.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                notFound:
                  value:
                    success: false
                    message: Product not found
    put:
      tags:
        - Product Children
      summary: Product child (update full)
      description: |
        Updates a product child for the company. Validation failures from the form request return **422**.
        Application exceptions inside the update service return **500** with `{ success: false, message }`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChildUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Update failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                fail:
                  value:
                    success: false
                    message: 'Failed to update product: ...'
    patch:
      tags:
        - Product Children
      summary: Product child (update partial)
      description: |
        Partially updates a product child for the company. Validation failures from the form request return
        **422**. Application exceptions inside the update service return **500** with
        `{ success: false, message }`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChildUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Update failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
    delete:
      tags:
        - Product Children
      summary: Product child (delete)
      description: |
        Deletes a product if it has no blocking relations (orders, invoices, price items, etc.).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Product deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '409':
          description: Conflict — related records prevent deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                conflict:
                  value:
                    success: false
                    message: Product cannot be deleted because it has related records (orders, invoices, price items, etc.).
  /measurement-units:
    get:
      tags:
        - Measurement Units
      summary: Measurement units (list)
      description: |
        Lists measurement units for the company from `X-Asseblo-Company`.
        Supports free-text search across `name`, `short_name`, `peppol`, optional category filtering,
        sorting, and pagination. Response is wrapped as `{ success, data, meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search value used with SQL `LIKE`.
          schema:
            type: string
        - name: search_fields
          in: query
          required: false
          description: Comma-separated subset of `name`, `short_name`, `peppol`. Invalid fields are ignored.
          schema:
            type: string
          example: name,short_name
        - name: category
          in: query
          required: false
          description: Single category or repeated array values. English and Greek aliases are normalized by the backend.
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          examples:
            single:
              value: general
            multiple:
              value:
                - general
                - βάρος
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - short_name
              - type
              - category
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementUnitIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Measurement Units
      summary: Measurement unit (create)
      description: |
        Creates a measurement unit for the company. Validation failures return **422** with the standard
        validation payload.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementUnitStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementUnitSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /measurement-units/{id}:
    get:
      tags:
        - Measurement Units
      summary: Measurement unit (show)
      description: Returns one measurement unit for the company or 404 if not found / out of scope.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementUnitSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                notFound:
                  value:
                    success: false
                    message: Measurement unit not found
    put:
      tags:
        - Measurement Units
      summary: Measurement unit (update full)
      description: |
        Updates a measurement unit for the company. Validation failures return **422** with the standard
        validation payload.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementUnitUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementUnitSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    patch:
      tags:
        - Measurement Units
      summary: Measurement unit (update partial)
      description: |
        Partially updates a measurement unit for the company. Validation failures return **422** with the
        standard validation payload.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementUnitUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeasurementUnitSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
        - Measurement Units
      summary: Measurement unit (delete)
      description: Deletes a measurement unit if it has no blocking relations.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Measurement unit deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                notFound:
                  value:
                    success: false
                    message: Measurement unit not found
        '422':
          description: Delete blocked by related records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                blocked:
                  value:
                    success: false
                    message: Measurement unit cannot be deleted because it has related records.
  /clients:
    get:
      tags:
        - Clients
      summary: Clients (list)
      description: |
        Lists clients (isSeller=false) with optional search and client_type filtering. Response is paginated and wrapped as {success,data,meta}.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search term (used only when search_fields is present).
          schema:
            type: string
          example: Papad
        - name: search_fields
          in: query
          required: false
          description: Comma-separated fields used in OR LIKE search. The available fields are `first_name`, `last_name`, `vat`, `email`, `invoice_name`, `company_name`, `tax_office`, `profession`, `client_type`.
          schema:
            type: string
          example: fname,lname,vat,email
        - name: client_type
          in: query
          required: false
          description: Filter by client type(s). Type 1 is company (B2B), type 2 is person (B2C).
          style: form
          explode: true
          schema:
            oneOf:
              - type: integer
                enum:
                  - 1
                  - 2
              - type: array
                items:
                  type: integer
                  enum:
                    - 1
                    - 2
          examples:
            single:
              value: 1
            multiple:
              value:
                - 1
                - 2
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - primary_id
              - fname
              - lname
              - vat
              - email
              - client_type
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 1
                        code: C-0001
                        first_name: Giorgos
                        last_name: Papadopoulos
                        email: g@example.com
                        phone: '2100000000'
                        mobile: null
                        vat: '123456789'
                        invoice_name: ACME SA
                        company_name: ACME SA
                        tax_office: Α Αθηνών
                        profession: null
                        client_type: 1
                        comments: null
                        addresses: []
                        company: 1
                        created: '2026-02-11 10:00:00'
                        modified: '2026-02-12 10:00:00'
                    meta:
                      current_page: 1
                      last_page: 1
                      per_page: 50
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Clients
      summary: Client (create)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /clients/{id}:
    get:
      tags:
        - Clients
      summary: Client (show)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Clients
      summary: Client (update partial)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - Clients
      summary: Client (update replace)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStore'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Clients
      summary: Client (delete)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDeleteResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Client deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Cannot be deleted (has related records)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDeleteFailResponse'
              examples:
                fail:
                  value:
                    success: false
                    message: Client cannot be deleted because it has related records (invoices, orders, checks, etc.).
  /suppliers:
    get:
      tags:
        - Suppliers
      summary: Suppliers (list)
      description: |
        Lists suppliers (courier=false) with optional search and sorting. Paginated.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          example: Papad
        - name: search_fields
          in: query
          required: false
          description: Comma-separated fields for OR LIKE. If field is `vat`, it searches `afm`.
          schema:
            type: string
          example: invoice_name,company_name,vat,email
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - primary_id
              - fname
              - lname
              - afm
              - email
              - invoice_name
              - company_name
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Suppliers
      summary: Supplier (create)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /suppliers/{id}:
    get:
      tags:
        - Suppliers
      summary: Supplier (show)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Suppliers
      summary: Supplier (update partial)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - Suppliers
      summary: Supplier (update replace)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierStore'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Suppliers
      summary: Supplier (delete)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierDeleteResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Supplier deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Cannot be deleted (has related records)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierDeleteFailResponse'
              examples:
                fail:
                  value:
                    success: false
                    message: Supplier cannot be deleted because it has related records (invoices, orders, checks, etc.).
  /invoice-series:
    get:
      tags:
        - Invoice Series
      summary: Invoice series (list)
      security:
        - BearerAuth: []
      parameters:
        - name: visible
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: search
          in: query
          required: false
          schema:
            type: string
          example: retail
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - description
              - visible
              - company_id
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvoiceSeries'
                  meta:
                    type: object
                    additionalProperties: false
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 3
                      per_page:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 120
                    required:
                      - current_page
                      - last_page
                      - per_page
                      - total
                required:
                  - success
                  - data
                  - meta
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Invoice Series
      summary: Invoice series (create)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceSeriesStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/InvoiceSeries'
                required:
                  - success
                  - data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /invoice-series/{id}:
    get:
      tags:
        - Invoice Series
      summary: Invoice series (show)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/InvoiceSeries'
                required:
                  - success
                  - data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Invoice Series
      summary: Update invoice series
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceSeriesUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/InvoiceSeries'
                required:
                  - success
                  - data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - Invoice Series
      summary: Replace invoice series
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceSeriesStore'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/InvoiceSeries'
                required:
                  - success
                  - data
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /invoice-types:
    get:
      tags:
        - Invoice Types
      summary: Invoice types (list)
      description: |
        List invoice types (document types) with filters: type, document_type, active, search and sorting. Response is paginated and wrapped as {success,data,meta}.
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: false
          description: Filter by invoice type(s). Can be single integer or array.
          style: form
          explode: true
          schema:
            oneOf:
              - type: integer
                enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  - 7
              - type: array
                items:
                  type: integer
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
          examples:
            single:
              value: 3
            multiple:
              value:
                - 1
                - 3
                - 7
        - name: document_type
          in: query
          required: false
          description: Filter by document_type exact match.
          schema:
            type: string
            maxLength: 50
          example: delivery-note
        - name: active
          in: query
          required: false
          description: Filter by active flag.
          schema:
            type: boolean
          example: true
        - name: search
          in: query
          required: false
          description: Search by title (LIKE %...%).
          schema:
            type: string
          example: invoice
        - name: sort_by
          in: query
          required: false
          description: Sort column (backend orderBy).
          schema:
            type: string
            enum:
              - id
              - title
              - type
              - aade_type
              - document_type
              - active
              - is_deliverable
              - default
              - template_id
              - company_id
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTypeIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 1166
                        title: Invoice (no delivery)
                        type: 1
                        aade_type: '1.1'
                        document_type: null
                        active: true
                        is_deliverable: false
                        default: true
                        template_id: null
                        company: 1
                    meta:
                      current_page: 1
                      last_page: 2
                      per_page: 50
                      total: 60
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /invoice-types/{id}:
    get:
      tags:
        - Invoice Types
      summary: Invoice type (show)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTypeSingleResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      id: 1166
                      title: Invoice (no delivery)
                      type: 1
                      aade_type: '1.1'
                      document_type: null
                      active: true
                      is_deliverable: false
                      default: true
                      template_id: null
                      company: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Invoice Types
      summary: Invoice type (create)
      description: |
        Creates an invoice type. If `default=true`, other invoice types with same (type, document_type) are set to default=false. If `default=false` and no other default exists, backend forces default=true.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceTypeStore'
            examples:
              default:
                value:
                  title: Invoice (no delivery)
                  type: 1
                  aade_type: '1.1'
                  document_type: null
                  fhm_code: null
                  active: true
                  is_deliverable: false
                  default: true
                  template_id: null
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTypeSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Invoice Types
      summary: Invoice type (delete)
      description: |
        Deletes an invoice type (document type). Cannot delete the default type for its category.
        Returns 404 if the type does not exist or belongs to another company (same message as not found).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Invoice type deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found (unknown id or not in company scope)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                notFound:
                  value:
                    success: false
                    message: Invoice type not found
        '409':
          description: Conflict — cannot delete (related invoices, supplier invoices, or branch links)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                conflict:
                  value:
                    success: false
                    message: Invoice type cannot be deleted because it has related invoices, supplier invoices, or branch links.
        '422':
          description: Cannot delete default document type for this category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                defaultType:
                  value:
                    success: false
                    message: Cannot delete the default document type for this category.
  /taxes:
    get:
      tags:
        - Taxes
      summary: Taxes (list)
      description: |
        List taxes with filters: type, active, search and sorting. Response is paginated and wrapped as {success,data,meta}.
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: false
          description: Filter by tax type(s). Can be single or array (backend-defined numeric types).
          style: form
          explode: true
          schema:
            oneOf:
              - type: integer
              - type: array
                items:
                  type: integer
          examples:
            single:
              value: 1
            multiple:
              value:
                - 1
                - 2
        - name: active
          in: query
          required: false
          description: Filter by active flag.
          schema:
            type: boolean
          example: true
        - name: search
          in: query
          required: false
          description: Search by title (LIKE %...%).
          schema:
            type: string
          example: ΦΠΑ
        - name: sort_by
          in: query
          required: false
          description: Sort column (backend orderBy).
          schema:
            type: string
            enum:
              - id
              - title
              - value
              - active
              - type
              - company_id
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 1265
                        title: ΦΠΑ 24%
                        value: 24
                        type: VAT
                        operand: +
                        amount: null
                        percentage: 24
                        aade_group: '1'
                        aade_code: '1'
                        calculateVat: true
                        active: true
                    meta:
                      current_page: 1
                      last_page: 1
                      per_page: 50
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /taxes/{id}:
    get:
      tags:
        - Taxes
      summary: Tax (show)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxSingleResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      id: 1265
                      title: ΦΠΑ 24%
                      value: 24
                      type: VAT
                      operand: +
                      amount: null
                      percentage: 24
                      aade_group: '1'
                      aade_code: '1'
                      calculateVat: true
                      active: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /expense-categories:
    get:
      tags:
        - Expense Categories
      summary: Expense categories (list)
      description: |
        Paginated list of expense categories. Supports search (search + search_fields) and sorting.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          example: Fuel
        - name: search_fields
          in: query
          required: false
          description: Comma-separated fields used in OR LIKE search.
          schema:
            type: string
          example: name
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - created_at
              - updated_at
              - company_id
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 10
                        title: Fuel
                        color: '#FF9900'
                        parent: Car expenses
                        company: 1
                        created: '2026-02-11 10:00:00'
                        modified: '2026-02-12 10:00:00'
                    meta:
                      current_page: 1
                      last_page: 1
                      per_page: 50
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /expense-categories/{id}:
    get:
      tags:
        - Expense Categories
      summary: Expense category (show)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategorySingleResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      id: 10
                      title: Fuel
                      color: '#FF9900'
                      parent: Car expenses
                      company: 1
                      created: '2026-02-11 10:00:00'
                      modified: '2026-02-12 10:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /payment-links:
    get:
      tags:
        - Payment Links
      summary: List payment links
      description: Paginated list of payment links for the company.
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by status (string or array).
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          example:
            - pending
            - paid
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            default: id
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          example: desc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Payment Links
      summary: Create payment link
      description: Creates a payment order and returns the hosted payment URL.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkStoreRequest'
            examples:
              invoice:
                value:
                  gateway_id: 1
                  amount: 120.5
                  billable_type: invoice
                  billable_id: 55
                  exact_amount: true
                  max_installments: 3
                  payment_timeout: 65535
                  description: 'Invoice #55 payment'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /payment-links/{id}:
    get:
      tags:
        - Payment Links
      summary: Show payment link
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /payment-links/{id}/cancel:
    post:
      tags:
        - Payment Links
      summary: Cancel payment link
      description: Cancels a payment order (cannot cancel if already paid).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkCancelResponse'
              examples:
                success:
                  value:
                    success: true
                    message: Payment link canceled.
                    data:
                      id: 10
                      status: canceled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Cannot cancel (e.g. already paid)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkErrorResponse'
              examples:
                paid:
                  value:
                    success: false
                    message: Cannot cancel a paid payment link.
  /tax-offices:
    get:
      tags:
        - Tax Offices
      summary: List tax offices
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
          description: Filter by tax office code
          example: '1153'
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Search tax office name
          example: ΑΘΗΝ
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Tax offices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxOfficeIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /countries:
    get:
      tags:
        - Countries
      summary: Countries (list)
      description: |
        Lists countries. Supports exact filtering by `code`, partial filtering by `name`, and pagination.
        Response is wrapped as `{ success, data, meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: query
          required: false
          description: Exact country code filter.
          schema:
            type: string
          example: GR
        - name: name
          in: query
          required: false
          description: Partial country name filter using SQL `LIKE`.
          schema:
            type: string
          example: Greek
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Send `Authorization: Bearer {token}`'
    XAssebloCompany:
      type: apiKey
      in: header
      name: X-Asseblo-Company
      description: 'Company ID. Example value: 1234567890'
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 1
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Unauthorized.
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Forbidden.
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Not Found.
    UnprocessableEntity:
      description: Validation error (Laravel)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
  schemas:
    ClientForInvoiceResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        first_name:
          type: string
          nullable: true
          example: Giorgos
        last_name:
          type: string
          nullable: true
          example: Papadopoulos
        email:
          type: string
          nullable: true
          example: g@example.com
        phone:
          type: string
          nullable: true
          example: '2100000000'
        mobile:
          type: string
          nullable: true
          example: null
        vat:
          type: string
          nullable: true
          example: '123456789'
        invoice_name:
          type: string
          nullable: true
          example: ACME SA
        company_name:
          type: string
          nullable: true
          example: ACME SA
    Address:
      type: object
      additionalProperties: true
      description: Minimal placeholder for AddressResource output.
      properties:
        id:
          type: integer
          format: int64
          example: 1
        address:
          type: string
          example: Main street
        number:
          type: string
          nullable: true
          example: '10'
        town:
          type: string
          example: Athens
        region:
          type: string
          nullable: true
          example: Attica
        tk:
          type: string
          description: Postal code.
          example: '10558'
        country:
          type: string
          nullable: true
          example: GR
        country_id:
          type: integer
          format: int64
          nullable: true
          example: 1
        branch_code:
          type: integer
          nullable: true
          example: 0
    TaxForInvoiceLine:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1265
        title:
          type: string
          example: ΦΠΑ 24%
        value:
          type: number
          example: 24
    InvoiceLine:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        product_id:
          type: integer
          nullable: true
        description:
          type: string
        quantity:
          type: number
          required: true
        unit_measure:
          type: string
        unit_price:
          type: number
        discount_price:
          type: number
          nullable: true
        net_amount:
          type: number
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/TaxForInvoiceLine'
        mydata_classification_category:
          type: string
          nullable: true
        mydata_classification_type:
          type: string
          nullable: true
        vat_exemption_category:
          type: integer
          nullable: true
    Invoice:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        representation:
          type: string
          nullable: true
        status:
          type: string
          example: published
        document_title:
          type: string
          nullable: true
        invoice_type_id:
          type: integer
          nullable: true
        serial_number:
          type: integer
          nullable: true
        series:
          type: string
          nullable: true
        mydata_type:
          type: string
          nullable: true
        date:
          type: string
          format: date
        due_date:
          type: string
          format: date
          nullable: true
        client_id:
          type: integer
        client:
          $ref: '#/components/schemas/ClientForInvoiceResponse'
        billing_address:
          $ref: '#/components/schemas/Address'
        shipping_address:
          nullable: true
          $ref: '#/components/schemas/Address'
        loading_address:
          nullable: true
          $ref: '#/components/schemas/Address'
        payment_method:
          type: string
          nullable: true
        pos_tid:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLine'
        sub_total:
          type: number
        tax_total:
          type: number
        grand_total:
          type: number
        currency_code:
          type: string
          nullable: true
        exchange_rate:
          type: number
          nullable: true
        terms:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        public_link:
          type: string
          nullable: true
        mydata_qr_code:
          type: string
          nullable: true
        mydata_latest_mark:
          type: string
          nullable: true
        mydata_uid:
          type: string
          nullable: true
      required:
        - id
        - date
        - client_id
        - sub_total
        - tax_total
        - grand_total
    InvoiceIndexResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        meta:
          type: object
          properties:
            current_page:
              type: integer
            last_page:
              type: integer
            per_page:
              type: integer
            total:
              type: integer
      required:
        - success
        - data
        - meta
    ErrorResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          example: Unauthorized.
      required:
        - message
    ClientAddressInputObject:
      type: object
      additionalProperties: false
      description: Single account address payload (inline object).
      properties:
        address:
          type: string
          maxLength: 255
          example: Main street
        number:
          type: string
          nullable: true
          maxLength: 50
          example: '10'
        town:
          type: string
          maxLength: 150
          example: Athens
        region:
          type: string
          nullable: true
          maxLength: 150
          example: Attica
        zip:
          type: string
          description: Will be mapped to `tk` internally.
          maxLength: 20
          example: '10558'
        country:
          type: string
          nullable: true
          maxLength: 3
          description: Country ISO code (exists:countries,code).
          example: GR
        country_id:
          type: integer
          format: int64
          nullable: true
          example: 1
        branch_code:
          type: integer
          nullable: true
          example: 0
      required:
        - address
        - town
        - zip
    InvoiceStore:
      type: object
      additionalProperties: false
      properties:
        invoice_type_id:
          type: integer
        invoice_series_id:
          type: integer
          nullable: true
        mydata_type:
          type: string
          nullable: true
          maxLength: 10
        serial_number:
          type: integer
          nullable: true
        date:
          type: string
          format: date
        due_date:
          type: string
          format: date
          nullable: true
        client_id:
          type: integer
        document_type:
          type: string
          enum:
            - invoice
            - credit-invoice
            - delivery-note
        vat_payment_suspension:
          type: boolean
          nullable: true
        grand_total:
          type: number
          minimum: 0
        billing_address:
          description: |
            Single address object. `zip` is accepted and normalized internally to `tk`; account linkage is injected automatically from `client_id`.
          $ref: '#/components/schemas/ClientAddressInputObject'
        shipping_address:
          nullable: true
          description: |
            Single address object. When present, the request also prepares `dispatch_detail` from the flat dispatch alias fields if provided.
          $ref: '#/components/schemas/ClientAddressInputObject'
        loading_address:
          nullable: true
          description: Single address object.
          $ref: '#/components/schemas/ClientAddressInputObject'
        dispatch_date:
          type: string
          format: date
          nullable: true
          description: Public alias used to construct `dispatch_detail.dispatchDateTime` together with `dispatch_time`.
        dispatch_time:
          type: string
          nullable: true
          description: Public alias used to construct `dispatch_detail.dispatchDateTime` together with `dispatch_date`.
        vehicle_number:
          type: string
          nullable: true
          maxLength: 50
          description: Public alias for `dispatch_detail.vehicleNumber`.
        move_purpose:
          type: integer
          nullable: true
          description: Public alias for `dispatch_detail.movePurpose`.
        other_move_purpose_title:
          type: string
          nullable: true
          maxLength: 255
          description: Public alias for `dispatch_detail.otherMovePurposeTitle`.
        items:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              product_id:
                type: integer
                nullable: true
              description:
                type: string
                nullable: true
              quantity:
                type: number
                minimum: 0.001
                required: true
              measure_unit:
                type: string
                nullable: true
                maxLength: 255
              measurement_unit_id:
                type: integer
                nullable: true
              unit_price:
                type: number
                nullable: true
                minimum: 0
              discount_percentage:
                type: number
                nullable: true
                minimum: 0
                maximum: 100
              taxes:
                type: array
                nullable: true
                items:
                  type: integer
              mydata_classification_category:
                type: string
                nullable: true
                maxLength: 255
              mydata_classification_type:
                type: string
                nullable: true
                maxLength: 255
              vat_exemption_category:
                type: integer
                nullable: true
        taxes:
          type: array
          nullable: true
          items:
            type: integer
        payment_methods:
          type: array
          nullable: true
          description: Required when `payment_way` is `cash`; otherwise prohibited.
          items:
            type: object
            additionalProperties: false
            properties:
              paymentMethod:
                type: integer
                enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 6
                  - 7
                  - 8
                description: |
                  Available only when myDATA integration is enabled.

                  Values:
                  - 1: Domestic Payments Account
                  - 2: Foreign Payments Account
                  - 3: Cash
                  - 4: Cheque
                  - 6: Web Banking
                  - 7: POS / e-POS
                  - 8: IRIS Direct Payment
              paymentAmount:
                type: number
                minimum: 0
              terminal_id:
                type: integer
                nullable: true
                description: terminal_id from CBO (terminals table). Only available when paymentMethod is 7 (POS / e-POS).
              tip:
                type: number
                nullable: true
                description: Tip amount. Only available when paymentMethod is 7 (POS / e-POS).
              instalments:
                type: integer
                nullable: true
                minimum: 0
                description: Number of instalments. Only available when paymentMethod is 7 (POS / e-POS).
              paymentMethodInfo:
                type: string
                nullable: true
                maxLength: 255
        related_documents:
          type: array
          nullable: true
          items:
            type: integer
            description: id of invoice with document_type `credit-invoice`
        delivery_notes:
          type: array
          nullable: true
          items:
            type: integer
            description: id of invoice with document_type `delivery-note`
        terms:
          type: string
          nullable: true
          maxLength: 1000
        notes:
          type: string
          nullable: true
          maxLength: 1000
        payment_way:
          type: string
          nullable: true
          enum:
            - cash
            - on-credit
        currency_code:
          type: string
          nullable: true
          maxLength: 3
        isDraft:
          type: boolean
          nullable: true
        mydata_submit:
          type: boolean
          nullable: true
      required:
        - invoice_type_id
        - date
        - client_id
        - document_type
        - billing_address
    InvoiceSingleResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Invoice'
      required:
        - success
        - data
    ValidationError:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            name:
              - The name field is required.
      required:
        - message
        - errors
    InvoicePublishRequest:
      type: object
      additionalProperties: false
      description: |
        Optional flags for publishing a draft invoice. When the invoice is already in `Executed` status, set `mydata_submit` to true to allow re-submission flows.
      properties:
        instant_receipt:
          type: boolean
          default: true
          description: Whether to issue instant receipt behaviour (backend default true).
          example: true
        mydata_submit:
          type: boolean
          default: false
          description: |
            When true, allows processing even if the invoice is already published (`Executed`). If status is `Executed` and this is false, the API returns 422 "Invoice is already published."
    FailureMessageResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Operation failed.
      required:
        - success
        - message
    InvoiceEmailRequest:
      type: object
      additionalProperties: false
      properties:
        to:
          type: string
          format: email
          example: client@example.com
        store_email:
          type: boolean
          nullable: true
          default: false
          example: true
      required:
        - to
    InvoiceEmailResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Email sent successfully
      required:
        - success
        - message
    Characteristic:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          example: 1
        key:
          type: string
          example: color
        label:
          type: string
          example: Color
        created_at:
          type: string
          format: date-time
          example: '2026-02-11T08:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-02-11T08:00:00Z'
      required:
        - id
        - key
        - label
        - created_at
        - updated_at
    Tier:
      type: object
      additionalProperties: true
      description: Minimal placeholder for TierResource output.
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Tier 1
    Catalogue:
      type: object
      additionalProperties: true
      description: Minimal placeholder for CatalogueResource output.
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: Catalogue A
    ProductChildV11:
      type: object
      additionalProperties: false
      description: Product child as returned by `ProductChildResource` (API v1.1). Null-valued fields may be omitted.
      properties:
        id:
          type: integer
          format: int64
          example: 1001
        product_name:
          type: string
          example: Sample product
        description:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        barcode:
          type: string
          nullable: true
        sku:
          type: string
          nullable: true
          description: Public SKU value returned from the internal `catalog_code` field.
          example: SKU-001
        group_id:
          type: integer
          nullable: true
          example: 5
        measurement_unit_id:
          type: integer
          nullable: true
        tax_id:
          type: integer
          nullable: true
        tax_percentage:
          type: number
          nullable: true
          description: Tax rate from related tax record (`tax.value`).
          example: 24
        accounting_type:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          example: 1
        cost_price:
          type: number
          nullable: true
        sell_price:
          type: number
          nullable: true
        retail_price:
          type: number
          nullable: true
        website_price:
          type: number
          nullable: true
        discounted_price:
          type: number
          nullable: true
        builded_price:
          type: number
          nullable: true
        stock:
          nullable: true
          description: Full stock output by default, or partial stock output when the `stock` query parameter is used on the list endpoint.
          oneOf:
            - type: number
              example: 12
            - type: object
              additionalProperties: true
        company_id:
          type: integer
          example: 1
        visibility:
          type: boolean
          example: true
        count_storage:
          type: boolean
          nullable: true
          description: Whether storage counting is enabled for the product.
        parent_name:
          type: string
          nullable: true
          example: Parent Product
        created_at:
          type: string
          example: '2026-02-11 10:00:00'
        updated_at:
          type: string
          example: '2026-02-11 10:00:00'
        measurement_unit_name:
          type: string
          description: Present when `measurement_unit` relation is loaded.
          example: Τεμάχιο
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/Characteristic'
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/Tier'
        catalogues:
          type: array
          items:
            $ref: '#/components/schemas/Catalogue'
      required:
        - id
        - product_name
        - company_id
        - visibility
        - created_at
        - updated_at
    ProductChildListMeta:
      type: object
      additionalProperties: false
      properties:
        current_page:
          type: integer
          minimum: 1
          example: 1
        last_page:
          type: integer
          minimum: 1
          example: 3
        per_page:
          type: integer
          minimum: 1
          example: 50
        total:
          type: integer
          minimum: 0
          example: 120
      required:
        - current_page
        - last_page
        - per_page
        - total
    ProductChildIndexResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductChildV11'
        meta:
          $ref: '#/components/schemas/ProductChildListMeta'
      required:
        - success
        - data
        - meta
    ProductChildStore:
      type: object
      additionalProperties: false
      description: |
        Create product child (`StoreProductChildRequest`). `group_id` may be sent as `-1` to be normalized to `0`. Incoming `sku` is normalized server-side into the internal `catalog_code` field. `catalogues` / `suppliers` are normalized server-side into `catalogue_rates` / `supplier_pivot`.
      properties:
        product_name:
          type: string
          maxLength: 500
        measurement_unit_id:
          type: integer
          description: Must exist in `measurement_units`.
        accounting_type:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          description: |
            Accounting type (1: Goods, 2: Product, 3: Service, 4: A Material, 5: B Material, 6: Fixed).
        tax_id:
          type: integer
          description: Must exist in `taxes` for the company from `X-Asseblo-Company`.
        group_id:
          type: integer
          nullable: true
          description: Product group; must belong to company if > 0. Omitted or 0 for ungrouped.
        expense_id:
          type: integer
          nullable: true
          description: Optional expense; must exist in `expenses` for the company.
        sku:
          type: string
          nullable: true
          maxLength: 255
          description: Public SKU input; mapped to the internal `catalog_code` field before validation.
        cpv_code:
          type: string
          nullable: true
          maxLength: 255
        accounting_code:
          type: string
          nullable: true
          maxLength: 255
        cost_price:
          type: number
          nullable: true
        sell_price:
          type: number
          nullable: true
        sell_lock:
          type: integer
          enum:
            - 0
            - 1
          nullable: true
        retail_price:
          type: number
          nullable: true
        website_price:
          type: number
          nullable: true
        discounted_price:
          type: number
          nullable: true
        description:
          type: string
          nullable: true
        barcode:
          type: string
          nullable: true
          maxLength: 255
        special_rules:
          type: integer
          enum:
            - 0
            - 1
            - 2
          nullable: true
        count_storage:
          type: boolean
          nullable: true
        initial_stock:
          type: number
          nullable: true
        branch_id:
          type: integer
          nullable: true
          description: Must exist in `branches` for the company.
        check_stock:
          type: boolean
          nullable: true
[...]
