openapi: 3.0.3
info:
  title: CBO API v1.1
  version: '1.1'
  x-logo:
    url: ../assets/logo.png
    altText: Upd8.gr
  description: |
    CBO (Cloud Business Organiser) is a business management platform designed for Greek-market commercial operations.

    The CBO API provides secure, authenticated access to the core entities of the platform, allowing you to
    programmatically manage organisational data, commercial documents, and operational workflows.

    With the API you can:
    - Integrate external applications to automate business processes and synchronize data.
    - Connect your e-shop to CBO to manage products, orders, customers, and stock centrally.
    - Use CBO as your billing system, fully supporting AADE/MyData requirements and digital document circulation flows where applicable.

    All endpoints are company-scoped and require Bearer authentication.
    Responses follow consistent validation and pagination standards across the platform.

    ---

    ## Authentication

    All API requests must include a **Bearer token** in the `Authorization` header.

    **Example:**
    ```
    Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    ```

    Obtain your token from your Profile page through the app [CBO](https://app.cbo.gr). 

    ---

    ## Authorisation

    Every request must include the company context via the **X-Asseblo-Company** header with the company ID.

    **Example:**
    ```
    X-Asseblo-Company: 123123123123
    ```

    Use the company ID that corresponds to the tenant you are acting on behalf of.

    ---

    ## Rate limits

    | Limit | Value |
    |-------|--------|
    | Per day | 1000 API calls |
    | Per minute | 60 requests |

    When a limit is exceeded, the API returns **HTTP 429 Too Many Requests**.
servers:
  - url: https://app.cbo.gr/api/v1.1
    description: CBO production
  - url: https://app.excelon.gr/api/v1.1
    description: CBO staging environment
security:
  - BearerAuth: []
  - XAssebloCompany: []
tags:
  - name: Invoices
  - name: Client Receipts
  - name: Supplier Invoices
  - name: Supplier Payments
  - name: Clients
  - name: Suppliers
  - name: Taxes
  - name: Invoice Types
  - name: Invoice Series
  - name: Product Children
  - name: Products
  - name: Groups
  - name: Measurement Units
  - name: Expense Categories
  - name: Tax Offices
  - name: Orders
  - name: Payment Links
  - name: Bank Details
  - name: Countries
paths:
  /orders:
    get:
      tags:
        - Orders
      summary: Orders (list)
      description: |
        Lists orders with optional search, filtering, sorting, and pagination. Response is always paginated and wrapped as `{success, data, meta}`.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search term. Applied as a LIKE filter across the fields specified in `search_fields`.
          schema:
            type: string
            maxLength: 255
          example: Website
        - name: search_fields
          in: query
          required: false
          description: |
            Comma-separated list of fields to search in. Allowed values: `title`, `purchase_order`, `primary_id`.
          schema:
            type: string
          example: title,purchase_order
        - name: client_id
          in: query
          required: false
          description: Filter orders by client ID.
          schema:
            type: integer
          example: 5
        - name: is_offer
          in: query
          required: false
          description: Filter by offer flag. `true` returns only offers/quotes; `false` returns only standard orders.
          schema:
            type: boolean
          example: false
        - name: date_from
          in: query
          required: false
          description: Return only orders created on or after this date.
          schema:
            type: string
            format: date
          example: '2026-01-01'
        - name: date_to
          in: query
          required: false
          description: Return only orders created on or before this date. Must be ≥ `date_from`.
          schema:
            type: string
            format: date
          example: '2026-12-31'
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - title
              - created_at
              - updated_at
            default: id
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          example: desc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Number of results per page (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 1
                        serial_number: '#1001'
                        title: Website redesign order
                        purchase_order: PO-2026-001
                        is_offer: false
                        is_external: false
                        client_id: 5
                        client: null
                        items: []
                        comments: null
                        project_id: null
                        created: '2026-04-27 09:00:00'
                        modified: '2026-04-27 10:00:00'
                    meta:
                      current_page: 1
                      last_page: 3
                      per_page: 50
                      total: 120
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Orders
      summary: Order (create)
      description: |
        Creates a new order.
        **Client resolution precedence:**
        1. `client_id` supplied → attach existing client by ID. 2. `client.afm` (or `client.vat`) supplied → find by VAT within the company, or create a new company (B2B) client. `client.invoice_name` is required in this case. 3. `client.email` supplied → find by e-mail within the company, or create a new person (B2C) client.
        Exactly one of `client_id` or a `client` block must be provided.
        A `billing_address` is always required. A `shipping_address` is required only when dispatch details are provided.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStore'
            examples:
              with_client_id:
                summary: Existing client by ID
                value:
                  client_id: 7
                  billing_address:
                    address: Σταδίου
                    number: '10'
                    town: Αθήνα
                    zip: '10562'
                    country: GR
                  title: B2B order
                  purchase_order: PO-2026-001
                  items:
                    - product_id: 42
                      quantity: 2
                      retail_price: 24.8
                      total_tax: 4.8
              new_company_client:
                summary: New company (B2B) client via VAT
                value:
                  client:
                    afm: '123456789'
                    invoice_name: ACME SA
                    company_name: ACME SA
                    client_type: 1
                    tax_office: Α Αθηνών
                  billing_address:
                    address: Ερμού
                    number: '5'
                    town: Αθήνα
                    zip: '10563'
                    country: GR
                  items:
                    - description: Custom service
                      quantity: 1
                      net_price: 100
                      taxes:
                        - 1
              new_person_client:
                summary: New person (B2C) client via email
                value:
                  client:
                    first_name: Giorgos
                    last_name: Papadopoulos
                    email: g@example.com
                    mobile: '6900000000'
                  billing_address:
                    address: Πανεπιστημίου
                    town: Αθήνα
                    zip: '10564'
                  items:
                    - product_id: 10
                      quantity: 1
                      retail_price: 31
                      total_tax: 6
                  shipping_items:
                    - title: Standard Shipping
                      price: 3.9
                      total_tax: 0.75
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSingleResponse'
              example:
                success: true
                data:
                  id: 101
                  serial_number: '#1001'
                  title: null
                  purchase_order: null
                  is_offer: false
                  is_external: false
                  client_id: 5
                  client:
                    id: 5
                    invoice_name: ACME SA
                    company_name: ACME SA
                    vat: '123456789'
                  items: []
                  comments: null
                  project_id: null
                  created: '2026-04-27 10:00:00'
                  modified: '2026-04-27 10:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orders/{id}:
    get:
      tags:
        - Orders
      summary: Order (show)
      description: Returns a single order by ID, including its client and line items.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSingleResponse'
              example:
                success: true
                data:
                  id: 1
                  serial_number: '#1001'
                  title: Website redesign order
                  purchase_order: PO-2026-001
                  is_offer: false
                  is_external: false
                  client_id: 5
                  client:
                    id: 5
                    invoice_name: ACME SA
                    company_name: ACME SA
                    vat: '123456789'
                  items:
                    - id: 10
                      name: Custom Widget
                      quantity: 2
                      unit_price: 20
                      discount: 0
                  comments: null
                  project_id: null
                  created: '2026-04-27 09:00:00'
                  modified: '2026-04-27 10:00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - Orders
      summary: Order (update replace)
      description: |
        Replaces updatable fields on an existing order. All fields are optional; only supplied fields are updated.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdate'
            example:
              title: Updated order title
              purchase_order: PO-2026-002
              comments: Rush delivery requested.
              isOffer: false
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Orders
      summary: Order (update partial)
      description: |
        Partially updates an existing order. Identical behaviour to PUT — all fields are optional.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdate'
            example:
              comments: Customer confirmed delivery date.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Orders
      summary: Order (delete)
      description: Deletes an order. Fails with 422 if the order has related records that prevent deletion.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDeleteResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Order deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Cannot be deleted (has related records)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDeleteFailResponse'
              examples:
                fail:
                  value:
                    status: business_validation_error
                    message: Order cannot be deleted because it has related records.
                    errors: []
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /invoices:
    get:
      tags:
        - Invoices
      summary: Invoices (list)
      description: |
        Lists invoices with optional search and filtering.
        Response is paginated and wrapped as {success,data,meta}.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
          example: INV-2026
        - name: search_fields
          in: query
          required: false
          description: Comma-separated searchable fields.
          schema:
            type: string
          example: serial_number,nickname
        - name: serial_number
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
        - name: date_from
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: status
          in: query
          required: false
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: document_type
          in: query
          required: false
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: client_id
          in: query
          required: false
          schema:
            type: integer
        - name: invoice_type_id
          in: query
          required: false
          description: invoice_type_id
          schema:
            type: integer
        - name: invoice_series_id
          in: query
          required: false
          schema:
            type: integer
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - serial_number
              - payment_date
              - created_at
              - updated_at
          example: payment_date
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: desc
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Invoices
      summary: Invoice (create)
      description: |
        Creates a new invoice.
        Response is wrapped as {success,data}.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /invoices/{id}:
    get:
      tags:
        - Invoices
      summary: Invoice (show)
      description: |
        Shows an invoice by its ID.
        Response is wrapped as {success,data}.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/publish:
    post:
      tags:
        - Invoices
      summary: Publish draft invoice
      description: |
        Publishes a draft client invoice (`POST /api/v1.1/invoices/{id}/publish`).
        Loads the invoice with items, taxes, client, type, series, dispatch and payment methods, then runs the publish service.

        - If status is already `Executed` and `mydata_submit` is **false**, returns **422** with "Invoice is already published."
        - On validation or business errors after commit checks, may return **422** with the first alert message.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePublishRequest'
            examples:
              default:
                value:
                  instant_receipt: true
                  mydata_submit: false
      responses:
        '200':
          description: Published — returns updated invoice resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation error, already published, or publish blocked by business rules
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/common/FailureMessageResponse.yaml
              examples:
                alreadyPublished:
                  value:
                    success: false
                    message: Invoice is already published.
                alertError:
                  value:
                    success: false
                    message: First error message from alerts.
        '500':
          description: Server error (unexpected failure during transaction)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
  /invoices/{id}/email:
    post:
      tags:
        - Invoices
      summary: Send email invoice
      description: |
        Sends the invoice (or offer, if document_type=estimate-offer) to the given email. Optionally stores the email in client's contact details.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceEmailRequest'
            examples:
              default:
                value:
                  to: client@example.com
                  store_email: true
      responses:
        '200':
          description: Email sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceEmailResponse'
              examples:
                success:
                  value:
                    success: true
                    message: Email sent successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /invoices/{id}/pdf/stream:
    get:
      tags:
        - Invoices
      summary: Stream invoice PDF (inline)
      description: |
        Generates the invoice PDF and returns it for inline display in the browser
        (`GET /api/v1.1/invoices/{id}/pdf/stream`). The response is sent with
        `Content-Disposition: inline` and rendered in "print" layout.

        If the invoice belongs to a different company than the `X-Asseblo-Company`
        header, a JSON **404** is returned instead of a PDF.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - name: connector
          in: query
          required: false
          description: |
            When truthy, returns the provider (myDATA connector) PDF image for the invoice instead of the locally generated document, when one exists.
          schema:
            type: boolean
        - name: unauthorized
          in: query
          required: false
          description: Internal flag altering how the invoice is resolved for public/unauthenticated access.
          schema:
            type: boolean
      responses:
        '200':
          description: Invoice PDF (inline)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/pdf/download:
    get:
      tags:
        - Invoices
      summary: Download invoice PDF (attachment)
      description: |
        Generates the invoice PDF and returns it as a file download
        (`GET /api/v1.1/invoices/{id}/pdf/download`). The response is sent with
        `Content-Disposition: attachment; filename="<invoice-name>.pdf"`.

        If the invoice belongs to a different company than the `X-Asseblo-Company`
        header, a JSON **404** is returned instead of a PDF.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
        - name: connector
          in: query
          required: false
          description: |
            When truthy, returns the provider (myDATA connector) PDF image for the invoice instead of the locally generated document, when one exists.
          schema:
            type: boolean
        - name: unauthorized
          in: query
          required: false
          description: Internal flag altering how the invoice is resolved for public/unauthenticated access.
          schema:
            type: boolean
      responses:
        '200':
          description: Invoice PDF (attachment)
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /supplier-invoices:
    get:
      tags:
        - Supplier Invoices
      summary: Supplier invoices (list)
      description: |
        Lists supplier invoices with optional search and filtering.
        Response is paginated and wrapped as {success,data,meta}.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search term (used only when search_fields is present).
          schema:
            type: string
          example: ΤΠΥ
        - name: search_fields
          in: query
          required: false
          description: |
            Comma-separated fields used in OR LIKE search. Allowed fields: `id`, `serial_number`, `status`, `document_type`, `nickname`.
          schema:
            type: string
          example: serial_number,status
        - name: serial_number
          in: query
          required: false
          schema:
            type: string
        - name: date_from
          in: query
          required: false
          description: Filters payment_date range (used with date_to).
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: false
          description: Must be on or after date_from. Filters payment_date range (used with date_from).
          schema:
            type: string
            format: date
        - name: status
          in: query
          required: false
          description: Filter by one or more statuses.
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: document_type
          in: query
          required: false
          description: Filter by one or more document types.
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: supplier_id
          in: query
          required: false
          schema:
            type: integer
        - name: invoice_type_id
          in: query
          required: false
          schema:
            type: integer
        - name: invoice_series_id
          in: query
          required: false
          schema:
            type: integer
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - serial_number
              - payment_date
              - created_at
              - updated_at
          example: payment_date
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: desc
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 1
                        representation: ΤΠΥ-0001
                        status: published
                        document_title: Τιμολόγιο Παροχής Υπηρεσιών
                        invoice_type_id: 12
                        serial_number: 1
                        invoice_series_id: 3
                        date: '2026-02-11'
                        supplier_id: 7
                        sub_total: 200
                        tax_total: 48
                        grand_total: 248
                        currency_code: EUR
                        created: '2026-02-11 10:00:00'
                        modified: '2026-02-12 10:00:00'
                    meta:
                      current_page: 1
                      last_page: 1
                      per_page: 50
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Supplier Invoices
      summary: Supplier invoice (create)
      description: |
        Creates a new supplier invoice.
        Response is wrapped as {success,data}.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /supplier-invoices/{id}:
    get:
      tags:
        - Supplier Invoices
      summary: Supplier invoice (show)
      description: |
        Shows a supplier invoice by its ID.
        Response is wrapped as {success,data}.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /client-receipts:
    get:
      tags:
        - Client Receipts
      summary: Client receipts (list)
      description: |
        Lists the company's `cash-receipt` and `return` documents — money collected from a
        client / paid to a client, and refunds either way.

        Invoices never appear here; use the invoice endpoints for those. Response is wrapped
        as `{ success, data, meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: account_id
          in: query
          required: false
          description: Limit to one client.
          schema:
            type: integer
        - name: document_type
          in: query
          required: false
          description: Narrows within payments — a payment (`cash-receipt`) or a refund (`return`).
          schema:
            type: string
            enum:
              - cash-receipt
              - return
        - name: payment_method
          in: query
          required: false
          description: The method slug, as accepted on write.
          schema:
            type: string
            enum:
              - cash
              - bank
              - check
              - credit-card
              - iris
              - clearing
              - third
              - gift
              - sponsorship
              - rounding
              - extra-discount
              - seller
        - name: status
          in: query
          required: false
          schema:
            type: string
          example: Executed
        - name: serial_number
          in: query
          required: false
          schema:
            type: string
        - name: date_from
          in: query
          required: false
          description: Inclusive, matched on the payment date. Must be sent together with `date_to`.
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: search
          in: query
          required: false
          description: Search value used with SQL `LIKE`.
          schema:
            type: string
        - name: search_fields
          in: query
          required: false
          description: Comma-separated subset of `serial_number`, `comments`. Anything else is ignored.
          schema:
            type: string
          example: serial_number,comments
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - payment_date
              - serial_number
              - grand_total
              - created_at
            default: payment_date
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Unknown query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
    post:
      tags:
        - Client Receipts
      summary: Client receipt (create)
      description: |
        Records a standalone payment receipt (`cash-receipt`) or money refund (`return`),
        optionally settling existing documents through `allocations`.

        The document has no lines: `amount` is the whole of it, and it takes its serial number
        from the receipt sequence rather than from an invoice type. Leaving `allocations` out
        records the payment on account, which is a valid state and the way to record an
        advance larger than any single balance.

        A card payment carrying a `terminal_id` is filed with myDATA as 8.4 (receipt) or 8.5 (refund) and comes back `Pending`; the transmission runs after the document is committed.

        Response is wrapped as `{ success, data }`.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientPaymentStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /client-receipts/{id}:
    get:
      tags:
        - Client Receipts
      summary: Client receipt (show)
      description: |
        Returns one payment document. An id that belongs to an invoice, to another company or
        to the other account side is reported as **404** rather than 403 — it is not a payment
        of yours.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Client Receipts
      summary: Client receipt (replace)
      description: |
        Replaces the payment. This is **not** a patch: the body is the one that created the
        document, minus the account. A payment is a single indivisible fact — amount, method
        and date together — so a field cannot be moved in isolation.

        `allocations` are replaced wholesale. Sending the body without them releases
        everything this payment had settled, and the invoices it had paid owe again.

        The serial number is preserved. The account cannot be moved: record a new payment
        instead.

        Refused with **422** when the document has already been submitted to myDATA, or when
        it was paid by cheque, courier or card — those carry rows of their own (a cheque,
        vouchers, a terminal-bound payment method) that a replace would orphan. Delete and
        re-record instead.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientPaymentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags:
        - Client Receipts
      summary: Client receipt (replace)
      description: |
        Identical to `PUT` — the body is a full replacement either way. See the `PUT`
        description.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientPaymentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Client Receipts
      summary: Client receipt (delete)
      description: |
        Deletes the payment.

        Deleting money un-settles what it paid: the allocations are removed, so every document
        it had settled owes again. The bank transaction reference and any POS payment method
        recorded against it go too.

        Refused with **422** when the document has been submitted to myDATA — the tax
        authority holds it — or when the underlying document refuses deletion, for instance a
        cheque that has been handed on, a paid payment link, or a document already through the
        ΦΗΜ. The message says which.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /supplier-payments:
    get:
      tags:
        - Supplier Payments
      summary: Supplier payments (list)
      description: |
        Lists the company's `cash-receipt` and `return` documents — money collected from a
        supplier / paid to a supplier, and refunds either way.

        Invoices never appear here; use the invoice endpoints for those. Response is wrapped
        as `{ success, data, meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: account_id
          in: query
          required: false
          description: Limit to one supplier.
          schema:
            type: integer
        - name: document_type
          in: query
          required: false
          description: Narrows within payments — a payment (`cash-receipt`) or a refund (`return`).
          schema:
            type: string
            enum:
              - cash-receipt
              - return
        - name: payment_method
          in: query
          required: false
          description: The method slug, as accepted on write.
          schema:
            type: string
            enum:
              - cash
              - bank
              - check
              - credit-card
              - iris
              - clearing
              - third
              - gift
              - sponsorship
              - rounding
              - extra-discount
              - seller
        - name: status
          in: query
          required: false
          schema:
            type: string
          example: Executed
        - name: serial_number
          in: query
          required: false
          schema:
            type: string
        - name: date_from
          in: query
          required: false
          description: Inclusive, matched on the payment date. Must be sent together with `date_to`.
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: search
          in: query
          required: false
          description: Search value used with SQL `LIKE`.
          schema:
            type: string
        - name: search_fields
          in: query
          required: false
          description: Comma-separated subset of `serial_number`, `comments`. Anything else is ignored.
          schema:
            type: string
          example: serial_number,comments
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - payment_date
              - serial_number
              - grand_total
              - created_at
            default: payment_date
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Unknown query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
    post:
      tags:
        - Supplier Payments
      summary: Supplier payment (create)
      description: |
        Records a standalone payment receipt (`cash-receipt`) or money refund (`return`),
        optionally settling existing documents through `allocations`.

        The document has no lines: `amount` is the whole of it, and it takes its serial number
        from the receipt sequence rather than from an invoice type. Leaving `allocations` out
        records the payment on account, which is a valid state and the way to record an
        advance larger than any single balance.

        Nothing on this endpoint is transmitted to the tax authority: myDATA 8.4 / 8.5 are income documents, so there is no POS flow and `terminal_id` is rejected outright.

        Response is wrapped as `{ success, data }`.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /supplier-payments/{id}:
    get:
      tags:
        - Supplier Payments
      summary: Supplier payment (show)
      description: |
        Returns one payment document. An id that belongs to an invoice, to another company or
        to the other account side is reported as **404** rather than 403 — it is not a payment
        of yours.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Supplier Payments
      summary: Supplier payment (replace)
      description: |
        Replaces the payment. This is **not** a patch: the body is the one that created the
        document, minus the account. A payment is a single indivisible fact — amount, method
        and date together — so a field cannot be moved in isolation.

        `allocations` are replaced wholesale. Sending the body without them releases
        everything this payment had settled, and the invoices it had paid owe again.

        The serial number is preserved. The account cannot be moved: record a new payment
        instead.

        Refused with **422** when the document has already been submitted to myDATA, or when
        it was paid by cheque, courier or card — those carry rows of their own (a cheque,
        vouchers, a terminal-bound payment method) that a replace would orphan. Delete and
        re-record instead.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags:
        - Supplier Payments
      summary: Supplier payment (replace)
      description: |
        Identical to `PUT` — the body is a full replacement either way. See the `PUT`
        description.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Supplier Payments
      summary: Supplier payment (delete)
      description: |
        Deletes the payment.

        Deleting money un-settles what it paid: the allocations are removed, so every document
        it had settled owes again. The bank transaction reference and any POS payment method
        recorded against it go too.

        Refused with **422** when the document has been submitted to myDATA — the tax
        authority holds it — or when the underlying document refuses deletion, for instance a
        cheque that has been handed on, a paid payment link, or a document already through the
        ΦΗΜ. The message says which.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /bank-details:
    get:
      tags:
        - Bank Details
      summary: Bank accounts (list)
      description: |
        Lists the authenticated company's own bank accounts.

        `bank_details` also holds the accounts of clients, suppliers and employees; this
        endpoint is scoped to the company's, so those never appear here and are **404** on
        update or delete. Response is wrapped as `{ success, data, meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: available
          in: query
          required: false
          description: Filter by whether the account is still in use.
          schema:
            type: boolean
        - name: search
          in: query
          required: false
          description: Search value used with SQL `LIKE`.
          schema:
            type: string
        - name: search_fields
          in: query
          required: false
          description: Comma-separated subset of `iban`, `account_number`, `swift`, `accounting_code`. Anything else is ignored.
          schema:
            type: string
          example: iban,swift
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - iban
              - account_number
              - created_at
              - updated_at
            default: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDetailIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Unknown query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
    post:
      tags:
        - Bank Details
      summary: Bank account (create)
      description: |
        Registers a bank account for the authenticated company.

        The bank is given by name and registered if it is new, so a caller never needs to know
        our per-company bank ids; pass `bank_id` instead if you already have one.

        Response is wrapped as `{ success, data }`.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankDetailStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDetailSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /bank-details/{id}:
    put:
      tags:
        - Bank Details
      summary: Bank account (update)
      description: |
        Changes one of the company's own bank accounts. Only the fields present in the body are
        touched.

        An account belonging to another company — or to a client, supplier or employee, which
        share this table — is **404**.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankDetailUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDetailSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags:
        - Bank Details
      summary: Bank account (update)
      description: |
        Changes one of the company's own bank accounts. Only the fields present in the body are
        touched.

        An account belonging to another company — or to a client, supplier or employee, which
        share this table — is **404**.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankDetailUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankDetailSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Bank Details
      summary: Bank account (delete)
      description: |
        Deletes one of the company's own bank accounts.

        Refused with **422** when a payment references it: the bank transaction rows carry no
        foreign key, so deleting the account would leave published documents pointing at one
        that no longer exists. Retire it with `available: false` instead.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /product-children:
    get:
      tags:
        - Product Children
      summary: Product children (list)
      description: |
        Lists product children for the company from `X-Asseblo-Company`. Supports search across
        `id`, `product_name`, `primary_id`, `catalog_code`, `erp_code`, `barcode` (choose fields via
        `search_fields`); optional filters `group_id`, `visibility` and `on_website`; sorting and pagination
        (`page_size` default 50, max 100).
        Response: `{ success, data[], meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: Search value used with SQL `LIKE` across the fields listed in `search_fields`.
        - name: search_fields
          in: query
          required: false
          description: |
            Comma-separated subset of `id`, `product_name`, `primary_id`, `catalog_code`, `erp_code`, `barcode`. Invalid fields are rejected with a validation error.
          schema:
            type: string
            maxLength: 255
          example: product_name,barcode
        - name: group_id
          in: query
          required: false
          schema:
            type: integer
        - name: visibility
          in: query
          required: false
          description: Filter by visibility flag (0/1).
          schema:
            type: boolean
        - name: on_website
          in: query
          required: false
          description: |
            Filter by whether the product is shown on the website. `1`/`true` returns only products on the website; `0`/`false` returns only products hidden from the website. Omit to return all.
          schema:
            type: boolean
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - product_name
              - catalog_code
              - primary_id
              - sell_price
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Product Children
      summary: Product child (create)
      description: |
        Creates a product child for the company. On validation/runtime errors from the store service,
        returns **422**. Validation errors use the framework validation payload; business/runtime errors from
        the store service return `{ success: false, message }`. On unexpected failure, **500** with message.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChildStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation or business error from store service
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/common/FailureMessageResponse.yaml
        '500':
          description: Unexpected error while creating product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                server:
                  value:
                    success: false
                    message: 'Failed to create product: ...'
  /product-children/{id}:
    get:
      tags:
        - Product Children
      summary: Product child (show)
      description: Returns one product child for the company or 404 if not found / out of scope.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                notFound:
                  value:
                    success: false
                    message: Product not found
    put:
      tags:
        - Product Children
      summary: Product child (update full)
      description: |
        Updates a product child for the company. Validation failures from the form request return **422**.
        Application exceptions inside the update service return **500** with `{ success: false, message }`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChildUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Update failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                fail:
                  value:
                    success: false
                    message: 'Failed to update product: ...'
    patch:
      tags:
        - Product Children
      summary: Product child (update partial)
      description: |
        Partially updates a product child for the company. Validation failures from the form request return
        **422**. Application exceptions inside the update service return **500** with
        `{ success: false, message }`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChildUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChildSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Update failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
    delete:
      tags:
        - Product Children
      summary: Product child (delete)
      description: |
        Deletes a product if it has no blocking relations (orders, invoices, price items, etc.).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Product deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
        '409':
          description: Conflict — immutable related records prevent deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                conflict:
                  value:
                    success: false
                    message: Product cannot be deleted because it has related records (orders, invoices, price items, etc.).
        '422':
          description: Business validation error — the delete operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailureMessageResponse'
              examples:
                blocked:
                  value:
                    success: false
                    message: Product cannot be deleted because it has related records (orders, invoices, price items, etc.).
  /products:
    get:
      tags:
        - Products
      summary: Products (list)
      description: |
        Lists parent products (master groups) for the company from `X-Asseblo-Company`. Each item embeds a
        summary of its default variant, aggregate stock, image, and a `children_count`. Supports search on
        `name` and `description`, an optional `group_id` filter, sorting, and pagination
        (`page_size` default 50, max 100).

        Notes:
        - `search_fields` is a comma-separated subset of `name,description`; other fields are rejected.
        - `parent_id` is accepted as an alias for `group_id`.
        - `group_id` (or `parent_id`) of `0` / null filters to ungrouped products.
        - Unknown query parameters are rejected with **422**.

        Response: `{ success, data[], meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: Search term matched against the selected search fields.
        - name: search_fields
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated subset of `name,description`. Invalid fields are rejected.
          example: name,description
        - name: group_id
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Filter by parent group id. `0` / null returns ungrouped products.
        - name: parent_id
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Alias for `group_id` (used only when `group_id` is not supplied).
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - sort
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          required: false
          description: Page size (default 50, max 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductIndexResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error (invalid filter/sort value or unknown query parameter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                validation:
                  value:
                    status: validation_error
                    message: Validation failed.
                    errors:
                      query:
                        - 'Unknown query parameters: foo'
    post:
      tags:
        - Products
      summary: Product (create)
      description: |
        Creates a parent product (master group) for the company. On validation failure returns **422** with
        `status: validation_error`. On an unexpected runtime failure the transaction is rolled back and
        **500** is returned with `status: server_error`.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductStore'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                validation:
                  value:
                    status: validation_error
                    message: Validation failed.
                    errors:
                      name:
                        - The name field is required.
        '500':
          description: Unexpected error while creating the product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                server:
                  value:
                    status: server_error
                    message: Failed to create product.
                    errors: []
  /products/{id}:
    get:
      tags:
        - Products
      summary: Product (show)
      description: |
        Returns one parent product for the company, including its full list of variants under `children`.
        Returns **404** with `status: not_found` if the product does not exist or is out of the company scope.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                notFound:
                  value:
                    status: not_found
                    message: Product not found.
                    errors: []
    put:
      tags:
        - Products
      summary: Product (update full)
      description: |
        Updates a parent product for the company. Validation failures return **422** with
        `status: validation_error`. If the model fails to persist, **422** with
        `status: business_validation_error`. An unexpected runtime exception rolls back and returns **500**
        with `status: server_error`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                notFound:
                  value:
                    status: not_found
                    message: Product not found.
                    errors: []
        '422':
          description: Validation error or business validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                validation:
                  value:
                    status: validation_error
                    message: Validation failed.
                    errors:
                      group_id:
                        - The selected group_id must be a category.
                business:
                  value:
                    status: business_validation_error
                    message: Product could not be updated.
                    errors: []
        '500':
          description: Unexpected error while updating the product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                server:
                  value:
                    status: server_error
                    message: Failed to update product.
                    errors: []
    patch:
      tags:
        - Products
      summary: Product (update partial)
      description: |
        Partially updates a parent product for the company. Behaves identically to `PUT` — send only the
        fields to change. Validation failures return **422** (`status: validation_error`), a failed persist
        returns **422** (`status: business_validation_error`), and an unexpected exception returns **500**
        (`status: server_error`).
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
        '422':
          description: Validation error or business validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
        '500':
          description: Unexpected error while updating the product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
    delete:
      tags:
        - Products
      summary: Product (delete)
      description: |
        Deletes a parent product. If the product has any variants (child products), deletion is refused with
        **409** (`status: conflict`). If the delete otherwise fails, **422** with
        `status: business_validation_error`. On success returns `{ success: true, message }`.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Product deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                notFound:
                  value:
                    status: not_found
                    message: Product not found.
                    errors: []
        '409':
          description: Conflict — product has variants and cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                conflict:
                  value:
                    status: conflict
                    message: Product cannot be deleted because it has variants.
                    errors: []
        '422':
          description: Business validation error — delete failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductErrorResponse'
              examples:
                business:
                  value:
                    status: business_validation_error
                    message: Product could not be deleted.
                    errors: []
  /groups:
    get:
      tags:
        - Groups
      summary: Groups (list)
      description: |
        Lists groups for the current company.

        Supports free-text search on `name` and `description`, filtering by parent/root group,
        depth, sorting, and pagination. Only non-master groups for the company are returned.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search text used with SQL `LIKE`.
          schema:
            type: string
            maxLength: 255
          example: phone
        - name: search_fields
          in: query
          required: false
          description: Comma-separated subset of `name,description`. Defaults to both fields.
          schema:
            type: string
          example: name,description
        - name: group_id
          in: query
          required: false
          description: Parent group id to filter by. Use `0` to return only root groups.
          schema:
            type: integer
            minimum: 0
          example: 2
        - name: parent_id
          in: query
          required: false
          description: Alias for `group_id`.
          schema:
            type: integer
            minimum: 0
          example: 2
        - name: deep
          in: query
          required: false
          description: Exact depth level.
          schema:
            type: integer
            minimum: 1
          example: 2
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - sort
              - deep
              - temporary_id
              - created_at
              - updated_at
          example: id
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: asc
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: page_size
          in: query
          required: false
          description: Page size. Defaults to `50` and is capped at `100`.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupIndexResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      - id: 15
                        name: Mobile Phones
                        slug: mobile-phones
                        description: Smartphones and accessories
                        deep: 1
                        sort: 10
                        parent_id: 2
                        company: 1
                        created: '2026-02-11 10:00:00'
                        modified: '2026-02-12 09:30:00'
                        parent:
                          id: 2
                          name: Phones
                    meta:
                      current_page: 1
                      last_page: 1
                      per_page: 50
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error, including unknown query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    post:
      tags:
        - Groups
      summary: Group (create)
      description: Creates a group for the current company.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupStore'
            examples:
              default:
                value:
                  name: Mobile Phones
                  description: Smartphones and accessories
                  group_id: 2
                  sort: 10
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSingleResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      id: 15
                      name: Mobile Phones
                      slug: mobile-phones
                      description: Smartphones and accessories
                      deep: 1
                      sort: 10
                      parent_id: 2
                      company: 1
                      created: '2026-02-11 10:00:00'
                      modified: '2026-02-11 10:00:00'
                      parent:
                        id: 2
                        name: Phones
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation error or business failure while saving
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/groups/GroupErrorResponse.yaml
              examples:
                validation:
                  value:
                    message: The given data was invalid.
                    errors:
                      name:
                        - The name field is required.
                saveFailed:
                  value:
                    status: business_validation_error
                    message: Group could not be created.
                    errors: []
        '500':
          description: Server error while creating the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                server:
                  value:
                    status: server_error
                    message: Failed to create group.
                    errors: []
  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Group (show)
      description: Returns one group for the current company.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSingleResponse'
              examples:
                default:
                  value:
                    success: true
                    data:
                      id: 15
                      name: Mobile Phones
                      slug: mobile-phones
                      description: Smartphones and accessories
                      deep: 1
                      sort: 10
                      parent_id: 2
                      company: 1
                      created: '2026-02-11 10:00:00'
                      modified: '2026-02-12 09:30:00'
                      parent:
                        id: 2
                        name: Phones
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                notFound:
                  value:
                    status: not_found
                    message: Group not found.
                    errors: []
    patch:
      tags:
        - Groups
      summary: Group (update partial)
      description: Updates a group for the current company.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
            examples:
              rename:
                value:
                  name: Smartphones
                  sort: 20
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                notFound:
                  value:
                    status: not_found
                    message: Group not found.
                    errors: []
        '422':
          description: Validation error or business rule violation
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/groups/GroupErrorResponse.yaml
              examples:
                invalidParent:
                  value:
                    status: business_validation_error
                    message: Group cannot be moved inside itself or one of its descendants.
                    errors: []
                validation:
                  value:
                    message: The given data was invalid.
                    errors:
                      group_id:
                        - The selected group id is invalid.
        '500':
          description: Server error while updating the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                server:
                  value:
                    status: server_error
                    message: Failed to update group.
                    errors: []
    put:
      tags:
        - Groups
      summary: Group (update)
      description: Updates a group for the current company.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
        '422':
          description: Validation error or business rule violation
          content:
            application/json:
              oneOf:
                - $ref: ../../../_shared/components/schemas/errors/ValidationError.yaml
                - $ref: ../../components/schemas/groups/GroupErrorResponse.yaml
        '500':
          description: Server error while updating the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
    delete:
      tags:
        - Groups
      summary: Group (delete)
      description: |
        Deletes a group for the current company.

        Descendants are deleted first, deepest to shallowest. Deletion is blocked if the target group or
        any descendant still has related products or child groups.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessageResponse'
              examples:
                deleted:
                  value:
                    success: true
                    message: Group deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                notFound:
                  value:
                    status: not_found
                    message: Group not found.
                    errors: []
        '422':
          description: Delete blocked by related products or child groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                blocked:
                  value:
                    status: business_validation_error
                    message: Group cannot be deleted because it has related products or child groups.
                    errors: []
        '500':
          description: Server error while deleting the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupErrorResponse'
              examples:
                server:
                  value:
                    status: server_error
                    message: Failed to delete group.
                    errors: []
  /measurement-units:
    get:
      tags:
        - Measurement Units
      summary: Measurement units (list)
      description: |
        Lists measurement units for the company from `X-Asseblo-Company`.
        Supports free-text search across `name`, `short_name`, `peppol`, optional category filtering,
        sorting, and pagination. Response is wrapped as `{ success, data, meta }`.
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Search value used with SQL `LIKE`.
          schema:
            type: string
        - name: search_fields
          in: query
          required: false
          description: Comma-separated subset of `name`, `short_name`, `peppol`. Invalid fields are ignored.
          schema:
            type: string
          example: name,short_name
        - name: category
          in: query
          required: false
          description: Single category or repeated array values. English and Greek aliases are normalized by the backend.
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          examples:
            single:
              value: general
            multiple:
              value:
                - general
                - βάρος
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - id
              - name
              - short_name
              - type
[...]
